<ul class="pagination pagination-sm">
	<li ng-class="{disabled : vm.isFirstPage()}">
		<a ng-click="vm.isFirstPage() || vm.previousPage()">
			{{'label.previousPage' | message}}
		</a>
	</li>
	<li ng-class="{active: vm.isCurrentPage($index + 1)}"
		ng-repeat="i in vm.getPageNumbers() track by $index">
		<a ng-class="{invalid: !vm.isPageValid($index + 1)}"
			ng-click="vm.changePage($index + 1)">
			{{$index + 1}}
		</a>
	</li>
	<li ng-class="{disabled : vm.isLastPage()}">
		<a ng-click="vm.isLastPage() || vm.nextPage()">
			{{'label.nextPage' | message}}
		</a>
	</li>
</ul>
