.openlmis-pagination {

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    > * {
        flex: 0 0 auto;
        &:first-child {
            flex-grow: 1;
        }
    }

    margin-bottom: $space-size;
    > ul {
        @extend .pagination;
        margin: 0px;

        border-color: $border-color;

        .invalid a {
            @include button(lighten($brand-danger, 30%));
        }

        .active.invalid a {
            @include button(lighten($brand-danger, 15%));
        }

        li:last-child a::after {
            content: " >>";
        }

        li:first-child a::before {
            content: "<< ";
        }
    }
}
