<div class="openlmis-pagination">
	<div class="pagination-info">
		{{'msg.showing' | message}} {{vm.items}} {{'msg.lineItems' | message}} {{'msg.outOf' | message}} {{vm.totalItems}} {{'msg.total' | message}}
	</div>
	<ul class="pagination pagination-sm" ng-if="vm.totalItems">
		<li ng-class="{disabled : vm.isFirstPage()}">
			<a ng-click="vm.isFirstPage() || vm.previousPage()">
				{{'label.previousPage' | message}}
			</a>
		</li>
		<li ng-class="{active: vm.isCurrentPage($index), invalid: vm.isPageValid && !vm.isPageValid($index)}"
			ng-repeat="i in vm.getPages() track by $index">
			<a ng-click="vm.changePage($index)">
				{{$index + 1}}
			</a>
		</li>
		<li ng-class="{disabled : vm.isLastPage()}">
			<a ng-click="vm.isLastPage() || vm.nextPage()">
				{{'label.nextPage' | message}}
			</a>
		</li>
	</ul>
</div>
