.pagination {

    display: flex;
    justify-content: flex-end;
    border-color: $light-gray !important;

    .invalid a {
        @include button-color(lighten($red, 30%));
    }

    .active.invalid a {
        @include button-color(lighten($red, 15%));
    }

    li:last-child a::after {
        content: " >>";
    }

    li:first-child a::before {
        content: "<< ";
    }
}
