.openlmis-pagination {

    display: flex;
    justify-content: space-between;

    margin-bottom: $space-size;
    .pagination{
        margin: 0px;
    }
}

.pagination {

    border-color: $light-gray !important;

    .invalid a {
        @include button(lighten($red, 30%));
    }

    .active.invalid a {
        @include button(lighten($red, 15%));
    }

    li:last-child a::after {
        content: " >>";
    }

    li:first-child a::before {
        content: "<< ";
    }
}
