
.alert {
	@extend .alert-info;
	border: 0px;
	margin: 0px;
	padding: 1em;

	background-color: $background-color-alt;
	color: $text-color;
	border: 1px $border-color solid;
	border-radius: $border-radius;

	&.is-error,
	&.is-danger {
		@extend .alert-danger;
		@include icon('exclamation-circle');
		color: $brand-danger;
	}

	&.is-success {
		@include icon('check-circle');
		color: $brand-success;
	}

	&.is-info {
		@extend .alert-info;
	}


}

.alert-info, .alert-danger, .alert-success {
	@extend .alert;
}

.alert-danger{
	@extend .alert.is-danger;
}

.alert-success{
	@extend .alert.is-success;
}
