
.alert {
	position: relative;
	padding: 0.6em 1em 0.6em 1em;
	border: 0.07em solid $black;
}

.alert.is-error {
    background-color: lighten($red, 45%);
    border-color: lighten($red, 40%);
	color: $red;
}

.alert.is-info {
	background-color: lighten($cyan, 40%);
	border-color: lighten($cyan, 35%);
	color: darken($cyan, 10%);
}