.page aside {
  @include clearfix();
  position: relative;

  padding: 1em;
  margin-bottom: 1em;
  
  @include box-shadow(0.2em 0.2em 0 $light-shadow);
  border: 0.1em solid $medium-gray;
  background: $very-light-gray;
  text-shadow: 0 0.1em 0 white;

  > button.close {
    position: absolute;
    top: 0em;
    right: 0em;
  }

  dl {
    display: flex;
    margin: 0em;
  }

  dt {
    display: block;
    flex: 0 0 auto;
    width: 0;
    position: relative;
    top: -1.2em;
    white-space: nowrap;
  }

  dd {
    display: block;
    flex: 1 0 auto;
    padding-right: 1em;

    &:last-child {
      padding-right: 0;
    }
  }

}