.page aside {
  @include clearfix();
  position: relative;

  padding: 1em;

  background-color: $background-color-alt;
  border: 1px solid $border-color;
  border-radius: $border-radius;

  > button.close {
    position: absolute;
    top: 0em;
    right: 0em;
  }

  dl {
    display: flex;
    margin: 0em;
  }

  dt {
    display: block;
    flex: 0 0 auto;
    width: 0;
    position: relative;
    top: -1.2em;
    white-space: nowrap;
  }

  dd {
    display: block;
    flex: 1 0 auto;
    padding-right: 1em;

    &:last-child {
      padding-right: 0;
    }
  }

}