/*
 * This program is part of the OpenLMIS logistics management information system platform software.
 * Copyright © 2013 VillageReach
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *  
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
 * You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info$OpenLMIS.org. 
 */

/*
Base

This is section about the basic styles that are used through the OpenLMIS-UI.

markup:
<p>Example paragraph that shows how copy should flow. <a >If there were a link, it would look like this.</a></p>
<p>There can also be <a disabled>disabled links.</a></p>
<p>This is the most general content style, and will be used to clearly show:</p>
<ul>
  <li>Instructions</li>
  <li>Descriptive pages</li>
</ul>

Styleguide 1.0
*/

body {
  background-color: $gray;
  font-family: Arial, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right:0 !important; // this stops adding the padding to body when modal is closed on low resolution screens
}

@font-face {
  font-family: 'HelveticaNeue-CondensedBold';
  src: url('../fonts/HelveticaNeue-CondensedBold.woff') format('woff'); /* Modern Browsers */
}

a {
  color: $heading-green;
  &:hover {
    color: darken($heading-green, 15%);
  }
  cursor: pointer;
  &[disabled]{
    color: $gray;
  }
}


.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: $dark-gray;
  background: lighten($cyan, 45%);
}

.row-fluid [class*="span"] {
  word-wrap: break-word;
}

.number, td.number, th.number{
  text-align: right;
}

@keyframes(fade-in) {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes(fade-out) {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.fadeIn {
  animation: 500ms fade-in;
}

.fadeOut {
  animation: 500ms fade-out;
}
