/*
Buttons

Buttons represent taking an action in OpenLMIS, juxoposed to a link which 
represents navigating through OpenLMIS. Most of the buttons should be the 
default color presented in section 1.1, with the exception of an edit action,
cancel, warning and disabled buttons. Disabled buttons are a little bit faded
in comparison with their enabled equivalents. They usually contain text, but
may also consist of the image and text.

Buttons should marked up using semantic HTML, where the HTML element is button.

*Note:* `<input type="submit" />` and `<input type="button" />` elements will also be styled as buttons.

### Button Groups
Buttons that change the state of an object or screen in the UI should always be
on the right side of the screen. All other buttons should be pulled to the left.
There should only be a single primary button per screen or pane.

<div class="button-group">
  <button type="button">Default Button</button>
  <button disabled="true" type="button">Default Button</button>
  <button class="primary" type="button">Default Button</button>
  <button class="danger" type="button">Default Button</button>
</div> 

Button groups are semantic grouping of actions for a specific task or item, if 
buttons don't act on the same object, they should not be grouped together. 
Unless marked as part of a button group, all buttons are block level and take
up their own vertical space.

<div class="button-group">
  <div class="button-group primary">
    <button class="primary">Primary Button</button>
    <button class="danger">Delete Button</button>
  </div>
  <div class="button-group">
    <button>Cancel Button</button>
    <a>Inline Link</a>
  </div>
  <div class="button-group primary">
    <button>Another Action</button>
  </div>
</div>

### Close Button
<aside>
  <button class="close">Close</button>
  The only exception to these rules is the close button that must always be shown
  in the right hand corner of popovers and modal windows (if they are closable).
</aside>

### Button Icons
Only add icons to buttons through CSS. All buttons must have text that is
accessiable by a screen reader, see button grammar guidelines for rules about
how button text should be phrased. See `button.close` for an example.

Styleguide 1.3
*/

$default-button-color: #dddddd !default;

button {
  @include button($default-button-color);

  &.primary {
    @include button($brand-primary);
  }

  &.danger {
    @extend button.primary;
    @include button($brand-danger);
  }
}

button.close {
  @include button-icon-only("times");
  background: transparent;
  color: $text-color;
}

.button-group {
  @extend .clearfix;
  margin-left: -0.5em;
  margin-right: -0.5em;

  > *,
  > button {
    display: block;
    margin: 0px 0.5em;
    float: left;
  }

  > .button-group.primary,
  > button.primary {
    float: right;
  }

  > a {
    padding: 0.5em 0em;
  }

  > .button-group {
    margin: 0px;
  }
}

.btn,
input[type=button] {
  @extend button;
}

.btn-primary,
input[type=submit] {
  @extend button.primary;
}
