
#facilityApprovedProductTable {
  th, td {
    line-height: 15px;
  }
  .col-full-supply {
    max-width: 50px;
    min-width: 50px;
  }
  .col-product-code {
    min-width: 100px;
    max-width: 125px;
  }
  .col-strength, .col-unit-measure {
    min-width: 80px;
    max-width: 100px;
  }
  .col-action {
    min-width: 125px;
  }
  .col-max-periods-stock, .col-min-periods-stock, .col-eop {
    min-width: 60px;
    max-width: 125px;
    input[type="text"] {
      margin-bottom: 0;
      width: 85%;
    }
  }
  td .rnr-form-error {
    bottom: 22px;
    line-height: 20px;
  }
  .toolbar-error {
    color: $red;
  }
  input.btn-danger {
    margin-left: 3px;
  }
}