/*
Headings

This is how headings should be used.

markup:
<h1>Primary Title<h1>
<section>
	<h2>Secondary Title</h2>
	<h3>Tritary Title</h3>
	<h4>Example Title</h4>
	<h5>H5 Titles Probably Will Never be Used</h5>
	<h6>H6 Titles Shouldn't be Used Unless There is a Good Reason</h6>
</section>
<span class="title">Just in Case Something Must be a Title</span>

Styleguide 1.1
*/

h1, h2, h3, h4, h5, h6{
	color: $heading-green;
	display: block;
	clear: both;
	font-weight: normal;
	font-size: $font-size;
	line-height: 1.2em;
	margin: 0px;
	padding: 1em 0em 0em
}

h1, h2 {
  font-size: $font-size-large;
  line-height: 1.2em;
}

h1, h3{
	font-weight: bold;
}
