
html {
  height: 100%;
}

body{
	display: flex;
	flex-direction: column;
	> *{
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		> *{
			flex: 1 0 auto;
		}
	}
	> header,
	> footer {
		flex: 0 0 auto;
	}
}

.page {
    flex-grow: 0;
    margin: 0.9em 0.9em 0;
    box-shadow: 0 0 0.5em $shadow;
    background: $white;
    padding: 0em 1.5em;

    padding-bottom: $space-size*2; // For toolbar

    > * {
    	margin: 0.5em 0em;
        &:first-child{
            margin-top: 0px;
        }
    }

    > h1:first-child,
    > h2:first-child,
    > header {
    	display: flex;
        flex-wrap: nowrap;
        align-items: center;
    	border-bottom: 1px solid $light-gray;
    	padding: $space-size 0px $space-size/2;

    	> * {
    		flex: 0 0 auto;
    	}

        h1, h2, h3, h4, h5, h6 {
            padding: 0px;
            font-weight: normal;
            flex: 1 0 auto;
            order: -1;
        }
    }
}