
html {
  height: 100%;
}

body{
	display: flex;
	flex-direction: column;
	> *{
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		> *{
			flex: 1 0 auto;
		}
	}
	> header,
	> footer {
		flex: 0 0 auto;
	}
}

.page {
    flex-grow: 0;
    margin: 0.9em 0.9em 0;
    box-shadow: 0 0 0.5em $shadow;
    background: $white;
    padding: 0em 1.5em;

    > * {
    	margin: 0.5em 0em;
    }

    header {
    	@extend .clearfix;
    	border-bottom: 0.1em solid $light-gray;
    	padding: 1em 0em;

    	> * {
    		float: left;
    		display: block;
    	}

    	> .primary {
    		float: right;
    	}
    }
}