
html {
  height: 100%;
}

body{
	display: flex;
	flex-direction: column;
	> *{
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		> *{
			flex: 1 0 auto;
		}
	}
	> header,
	> footer {
		flex: 0 0 auto;
	}
}

.page {
    flex-grow: 0;
    margin: 0.9em 0.9em 0;
    box-shadow: 0 0 0.5em $shadow;
    background: $white;
    padding: 0em 1.5em;

    padding-bottom: $space-size*2; // For toolbar

    > * {
    	margin: 0em;
        margin-bottom: 1em;
    }

    > header,
    > h1, > h2 {
        @extend .heading;
    }

    > section {
        > header,
        > h3 {
           @extend .sub-heading;
        }
    }
}