$loading-logo-size: 72px;

.loading-view {
    background: radial-gradient(circle at center, $dark-gray 0%, darken($dark-gray, 8%) 100%);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    & > .loading-view-body {
        width: 100%;
        height: 100%;
        background-image: url('common/openlmis-logo-white.svg');
        background-repeat: no-repeat;
        background-position: 50% calc(50% - #{$loading-logo-size} - 2em);
        background-size: auto $loading-logo-size;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        > div {
            font-size: $font-size-extra-large;
            display: flex;
            align-items: center;

            &::before {
                @extend .loading;
                @extend .loading::before;
                font-size: 2em;
                margin-right: 0.5em;
            }
        }
    }
}
