/*
 * This program is part of the OpenLMIS logistics management information system platform software.
 * Copyright © 2013 VillageReach
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *  
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
 * You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info$OpenLMIS.org. 
 */


@mixin box-shadow($shadow){
  box-shadow: $shadow;
}

@mixin border-top-radius($radius){
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-right-radius($radius){
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border-left-radius($radius){
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin right-arrow($color){
  position: relative;
  background: $color;
  padding: 2em 1.2em;
  text-align: center;
  font-weight: bold;
  min-width: 6em;
  margin-right: 1.2em;
  text-shadow: none;
}
@mixin right-arrow-after($color){
  border-left-color: $color;
  border-width: 2.7em 0 2.7em 1.2em;
  top: 50%;
  margin-top: -2.7em;
}
@mixin right-arrow-after-before(){
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

@mixin fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@mixin fade-out {
  0% {opacity: 1;}
  100% {opacity: 0;}
}