.notification-container {
  	position: fixed;
  	right: 0px;
  	top: 0px;
  	z-index: 15;
}

.notification {
    @extend .alert;
    width: 350px;
    min-height: 80px;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    @extend .fadeIn;
}

.notification:first-child {
    margin-top: 20px;
}

.notification .glyphicon {
    margin-right: 0.5em;
    font-size: x-large;
}

.hide-notification {
    right: 0px;
    -webkit-animation: slide-out 0.5s forwards;
    animation: slide-out 0.5s forwards;
}

@-webkit-keyframes slide-out {
    100% { right: -400px; }
}

@keyframes slide-out {
    100% { right: -400px; }
}
