//Colors
$heading-green: #0d8d98;
$cyan: #45a7ad;
$green: #356b6f;
$red: #a94442;
$orange: #ffa500;
$blue: #3875d7;

$white: #ffffff;
$very-light-gray: #f8f8f8;
$light-gray: #dddddd;
$medium-gray: #bbbbbb;
$gray: #666666;
$dark-gray: #333333;
$black: #000000;
$shadow: rgba($black, 0.75);
$light-shadow: rgba($black, 0.075);

$font-size: 14px;
$font-size-large: 22px;
$font-size-extra-large: 36px;

$brand-primary: $heading-green;

$background-color: $white;
$background-color-alt: $very-light-gray;

$text-color-disabled: $gray;

$table-border-color: $gray;

$icon-font-path: 'fonts/';

$text-shadow-size: 5px;

$border-radius: 4px;
$border-radius-base: $border-radius;
$border-radius-large: $border-radius;
$border-radius-small: $border-radius;

// Spacing
$padding2px:2px;
$space-size: 20px;
$opacity: 0.6;

$sidebar-width: 220px;

$table-border: 1px $light-gray solid !important; // this important is needed to override borders from inherited
