.alert-modal {

	.alert-main{
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: 1.7em;
	}

	.alert-message {
		padding: 0.3em;

		& > p {
			font-size: 0.7em;
		}
	}

	.icon {
		font-size: 2.6em;
		margin: 0.2em;

		&.warning {
			@include icon('exclamation-triangle');
			color: $orange;
		}
		&.error {
			@include icon('times-circle-o');
			color: $brand-danger;
		}
		&.sucess {
			@include icon('check-circle-o');
			color: $brand-success;
		}
	}

	.modal-footer > button {
		float: right;
	}
}
