.alert-modal {

	.alert-main{
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: 1.7em;

		&:before {
			font-size: 2.6em;
			margin: 0.2em;
		}
	}

	.alert-message {
		padding: 0.3em;

		& > p {
			font-size: 0.7em;
		}
	}

	.modal-footer > button {
		float: right;
	}
}

.alert-modal.is-warning .alert-main {
	@include icon('exclamation-triangle');
	&:before{
		color: $orange;	
	}
}

.alert-modal.is-error .alert-main {
	@include icon('exclamation-triangle');
	&:before{
		color: $brand-danger;	
	}
}

.alert-modal.is-success .alert-main {
	@include icon('exclamation-triangle');
	&:before{
		color: $brand-success;
	}
}
