.alert-modal {
	.alert-main{
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: 1.7em;
	}
	.alert-messages {
		padding: 0.3em;
	}
	.alert-message-additional{
		font-size: 0.7em;
	}
	.icon {
		font-size: 2.6em;
		margin: 0.2em;
	}
	.icon.warning {
		@include icon('exclamation-triangle');
		color: $orange;
	}
	.icon.error {
		@include icon('times-circle-o');
		color: $brand-danger;
	}
	.icon.sucess {
		@include icon('check-circle-o');
		color: $brand-success;
	}
	button.alert-confirm {
		@include button($button-color-default);
		float: right;
	}
}
