<div class="modal alert-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p ng-bind-html="vm.message"></p>
            </div>
            <div class="modal-footer">
                <button class="{{vm.className}}" ng-click="vm.confirm()">
                    {{vm.confirmMessage | message}}
                </button>
                <button class="cancel" ng-click="vm.cancel()">
                    {{vm.cancelMessage | message}}
                </button>
            </div>
        </div>
    </div>
</div>
