@import "../common/variables";

.loading-modal {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .loading {
        @extend .loading;
        //@extend .loading::before;
        @extend .fa !optional;
        @extend .fa-circle-o-notch !optional;
        @extend .fa-spin !optional;
        @extend .fa-3x !optional;
        @extend .fa-fw !optional;
        color: $white;
        font-size: $font-size-extra-large;
        position: absolute;
        left: 50%;
        top: 50%;
    }

}
