<div class="template">
    <div class="page">
        <h2 openlmis-message="configure.rnr.header"></h2>
        <div class="info-box">
            <div>{{'program.header' | message}}</div>
            <div>{{vm.program.name}}</div>
            <a ng-click="goToTemplateList()">{{'template.change' | message}}</a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>{{'template.header.display' | message}}</th>
                    <th></th>
					<th>{{'template.header.label' | message}}</th>
					<th>{{'template.header.source' | message}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody dnd-list="vm.template.columnsMap"
                dnd-drop="vm.dropCallback(event, index, item)">
                <tr ng-repeat="column in vm.template.columnsMap | orderObjectsBy:'displayOrder'"
                    dnd-draggable="column"
                    dnd-disable-if="!column.columnDefinition.canChangeOrder"
                    dnd-effect-allowed="move"
                    ng-class="{pinned: !column.columnDefinition.canChangeOrder}">
                        <td>
                            <input type="checkbox" ng-model="column.isDisplayed" ng-disabled="column.columnDefinition.isDisplayedRequired">
                        </td>
                        <td>
                            <div class="circle">
                                <div class="inner-circle">{{column.indicator}}</div>
                            </div>
                        </td>
                        <td>
                            <input disable-drag type="text" ng-model="column.label" class="form-control input-sm" ng-disabled="column.columnDefinition.canBeChangedByUser">
                        </td>
                        <td>
                            <div ng-if="!vm.canChangeSource(column.columnDefinition)">{{vm.sourceDisplayName(column.source)}}</div>
                            <div ng-if="vm.canChangeSource(column.columnDefinition)">
                                <select class="form-control" ng-model="column.source" ng-options="source as vm.sourceDisplayName(source) for source in column.columnDefinition.sources"></select>
                            </div>
                        </td>
                        <td>
                            <div ng-if="!column.$isValid(template.columnsMap)" class="error">{{vm.errorMessage(column)}}</div>
                        </td>
                </tr>
                <tr class="dndPlaceholder">
                    <td></td><td></td><td></td><td></td><td></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<ng-include src="'administration/template/template-toolbar.html'"></ng-include>
