.loading-modal {
	.modal-dialog{
    width: auto;
    margin: auto auto;
    flex-grow: 0;
  }
  .modal-body{
    @include clearfix();
    padding: 0;
  }
  .modal-body{
    &::before{
      content: "";
      display:block;
      float: left;
      width: 2em;
      height: 2em;
      margin: 0.5em;
      background-image: url('openlmis-modal/loading-modal.gif');
      background-size: 2em;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .bootbox-body{
    display: none;
  }
}

.no-js-loading-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7em;
  height: 4em;
  border-radius: 0.2em;
  background: $white;
  background-image: url('openlmis-modal/loading-modal.gif');
  background-size: 2em;
  background-repeat: no-repeat;
  background-position: center center;
}