.openlmis-header {
    align-items: center;
    background: linear-gradient(to top, $light-gray 0%, lighten($light-gray, 40%) 80%, $white 100%);
    border-bottom: 0.1em solid lighten($cyan, 45%);
    box-shadow: 0 0 0.5em $shadow;
    color: $dark-gray;
    display: flex;
    flex-wrap: nowrap;
    padding: 0.5em;
    z-index: 1; // to be above navbar
}

.openlmis-header.is-offline {
    background: $dark-gray;
    border-bottom-color: $black;
    color: $light-gray;

    .openlmis-title {
        color: $light-gray;
        text-shadow: 0 0.05em 0 $black;
    }
}

.openlmis-header-actions {
    margin-left: auto;
}

.status-offline {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;

    &::before {
        content: '\f0e7';
        font-family: 'FontAwesome';
        margin-right: 0.5em;
    }

    & > button {
        margin-left: auto;
    }
}

.openlmis-title {
    color: $gray;
    font-family: 'HelveticaNeue-CondensedBold', Arial, sans-serif;
    font-size: 2em;
    line-height: 1.1em;
    padding: 0 0 0 0.5em;
    text-shadow: 0 0.05em 0 $white;
}
