<ul>
    <li ng-repeat="state in vm.states" ng-class="{'dropdown':vm.hasChildren(state), 'dropdown-submenu':vm.isSubmenu(state)}" uib-dropdown ng-if="vm.shouldDisplay(state)" offline>
        <a ng-if="vm.hasChildren(state)" class="dropdown-toggle" uib-dropdown-toggle>{{state.label | message}}</a>
        <a ng-if="!vm.hasChildren(state) && (state.isOffline || !isOffline)" ui-sref="{{state.name}}" >{{state.label | message}}</a>
        <a ng-if="!vm.hasChildren(state) && (!state.isOffline && isOffline)" class="disabled is-offline" >{{state.label | message}}</a>
        <openlmis-navigation ng-if="vm.hasChildren(state)" class="dropdown-menu" uib-dropdown-menu states="state.children"></openlmis-navigation>
    </li>
</ul>
