<div class="login-container">
    <div class="modal-login-header">
        <h1>{{'label.app.header' | message}}</h1>
        <openlmis-locale class="locale-container"/>
    </div>
    <div class="login-form">
        <h2>{{'forgot.password.email.subject' | message}}</h2>
        <div class="form-desc">{{'reset.password.message' | message}}</div>
        <form>
            <div class="alert is-error" id="errorMessage" ng-if="vm.error">{{vm.error | message}}</div>
            <label for="email">{{'placeholder.email' | message}}</label>
            <input type="text" id="email" ng-model="vm.email" required />
            <div class="button-group">
                <button id="submitPasswordButton" class="primary" ng-click="vm.forgotPassword()" >{{'button.submit' | message}}</button>
                <button id="cancelPasswordButton" ng-click="vm.redirectToLogin()">{{'button.cancel' | message}}</button>
            </div>
        </form>
    </div>
    <div class="powered-by">
        <a href="http://openlmis.org" target="_blank">{{'powered.by' | message:({openlmis:'OpenLMIS'})}}</a>
    </div>
</div>
