.confirmation-dialog-overlay {
  @media (max-width: $res-sm) {
    align-items: flex-end;
  }

  .confirmation-dialog {
    display: flex;
    flex: 1 0;
    flex-direction: column;
    box-shadow: 0 0 0.5em $shadow;
    border-radius: 3px;
    padding: 2em;
    background-color: $white;

    @media (max-width: $res-sm) {
      width: 100vw;
      box-shadow: 0 -0.5em 0.5em -0.5em $shadow;
      border-radius: 0;
    }

    .confirmation-dialog-title {
      text-align: center;
      font-size: 1.4em;
    }

    .confirmation-dialog-buttons {
      padding: 1em;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

.page-responsive {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  margin: 1em;
  box-shadow: 0 0 0.5em $shadow;
  border: 0;
  background: $white;

  .page-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  .breadcrumb {
    padding-top: 1.5em;
    @include padding-left(1em);
  }

  .page-header-responsive {
    @include padding(0.5em, 1em, 1em, 0);

    h2 {
      border-bottom: $heading-border-color 1px solid;
    }
  }

  .page-content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    padding: 1em;

    aside {
      background-color: #f0f0f0;
      border: 1px solid #bebebe;
      border-radius: 4px;
      margin-bottom: 1em;
    }
  }

  .page-footer {
    flex: 0;
    display: flex;
    padding: 1em;
    background-color: $very-light-gray;
  }
}

.form-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 100%;

  .form-header {
    flex: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 1em;

    .progress {
      width: 100%;
      @include margin(0, 1em, 0, 0);
    }
  }

  .form-body {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding: 1em;

    .form-element {
      display: flex;
      flex-direction: column;
    }
  }

  .form-footer {
    flex: 0;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: $very-light-gray;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  max-width: 250px;

  padding: 0.5em 0;
}

.number-field {
  max-width: 100px !important;
}

.inline-field {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;

  padding: 0.5em 0;

  .form-field {
    flex: 1 0 auto;
    padding: 0;
    @include margin-right(0.5em);
  }

  .button-inline-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;

    margin-top: 0.5em;
  }
}

label,
strong {
  &.is-required:after {
    color: $brand-danger;
    content: "*";
    @include margin-left(0.25em);
  }
}

.responsive-button {
  .show-text {
    @include margin-right(0.5em);
  }

  .show-text-left {
    @include margin-left(0.5em);
  }

  @media (min-width: $res-sm) {
    .has-text {
      @include margin-right(0.5em);
    }
    .has-text-left {
      @include margin-left(0.5em);
    }
  }

  @media (max-width: $res-sm) {
    .button-text {
      display: none;
    }
  }
}

.pagination-responsive {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  width: 100%;
  margin-bottom: 0.5em;

  span {
    @include margin-right(0.5em);
  }

  .page-btn {
    padding: 0.5em 1em !important;
  }
}

.react-table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;

  .react-table-content {
    overflow: auto;
    width: 100%;
    margin-bottom: 0.5em;
  }
}

.react-table {
  width: 100%;
  border: $table-border-color $table-border-width solid;
  border-collapse: separate;

  td,
  th {
    border-top: $table-border-color $table-border-width solid;
    @include border-left($table-border-color $table-border-width solid);

    vertical-align: middle;
    padding: $table-cell-padding;

    &:first-child {
      @include border-left(0);
    }
  }

  tr:first-child > td {
    border-top-width: 0;
  }

  tbody > tr {
    @include table-row($table-row-background-color, $table-row-background-color-focus);
  }

  thead > tr {
    color: $table-header-color;

    th {
      background-image: linear-gradient(
        to bottom,
        $table-header-background-color,
        darken($table-header-background-color, 15%)
      );
    }
  }
}

.multiselect {
  width: 544px;
  box-shadow: inset 0 0 0.5em #bebebe;
  border-radius: 4px;

  .multiselect-selected {
    border: solid 1px #d9d9d9;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    display: flex;
    align-items: center;

    i {
      color: grey;
    }
  }

  .multiselect-options {
    display: block;
    box-sizing: border-box;
    @include left(0);
    list-style: none;
    @include padding-left(0px);
    border: solid 1px #eee;
    padding: 5px 0px;
  }

  .multiselect-option {
    display: flex;
    align-items: center;
    padding: 6px 10px;
    cursor: pointer;

    &:hover {
      background-color: #49baeb;
      color: white;
    }

    &-checkbox {
      @include margin-right(6px);
    }
  }
}

.suggestions-input {
  border: 1px $border-color solid;
  border-radius: $border-radius;
  box-shadow: inset 0 0 0.5em $border-color;
  width: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-height: 50px;

  input {
    all: unset;
    text-indent: 25px;
    &:focus {
      box-shadow: none;
      text-indent: 25px;
    }
  }

  input.not-selected {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
      10px 1em,
      14px 1em;
    background-size:
      5px 5px,
      5px 5px;
    background-repeat: no-repeat;
  }

  input.selected {
    background-image: linear-gradient(45deg, gray 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, gray 50%);
    background-position:
      14px 1em,
      10px 1em;
    background-size:
      5px 5px,
      5px 5px;
    background-repeat: no-repeat;
  }

  input::placeholder {
    color: #333333;
    opacity: 1;
  }

  button {
    all: unset;
    @include margin-right(10px);
    color: #bebebe;
  }

  &:focus-within {
    box-shadow: inset 0 0 0.5em $brand-primary;
  }
}

.suggestions-results {
  max-height: 150px;
  overflow: auto;

  .suggestions-result {
    background: transparent;
    border: 1px 1px 1px 0px solid #bebebe;
    @include text-align(left);
    min-height: 50px;
    overflow-wrap: break-word;
  }
}

.filter-component {
  width: 350px;
  position: relative;
  padding-top: 15px;

  .filters {
    width: 30%;
    @include margin-left(10px);
  }

  .popover.openlmis-table-filters .popover-content {
    @include padding-right(1em);
  }

  .openlmis-table-filters.popover {
    position: absolute;
    top: 55px;
  }

  .web-popover-content {
    padding: 0.5em;
  }

  .popover {
    width: 100%;
    max-width: unset;
    display: block;
    position: relative;

    .popover-content {
      padding: 1em;

      i {
        color: #bebebe;
      }
    }

    .clear-icon {
      width: 100%;
      @include text-align(right);
      font-size: x-large;
      color: #4d4d4d;
    }

    .clear {
      font-size: small;
    }
  }

  .container-filter {
    position: relative;
    width: 100%;
  }

  .popover.bottom {
    .arrow {
      @include left(30px);
    }
  }

  #filter-form {
    fieldset {
      margin-top: 0;

      label {
        display: flex;
        align-items: center;
      }

      input[type="checkbox"] {
        margin-top: 0;
        margin-right: 0.1em;
      }

      .filter-checkbox,
      .input-with-clear-icon {
        margin-bottom: 20px;
      }
    }

    .button-group {
      margin-top: 10px;

      .clear-filters {
        border: none;
        background-image: none;
        margin: 0;
        padding: 0.5em;
        background-color: transparent;
        text-decoration: underline;
        color: #4d4d4d;
      }
    }
  }
}

.input-with-clear-icon {
  border: 1px $border-color solid;
  border-radius: $border-radius;
  box-shadow: inset 0 0 0.5em $border-color;
  width: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  input {
    all: unset;
    width: 90%;
    height: 40px;
    text-indent: 10px;

    &:focus {
      box-shadow: none;
      height: 40px;
    }
  }

  input::placeholder {
    color: #333333;
    opacity: 1;
  }

  button {
    all: unset;
    @include margin-right(10px);
  }

  &:focus-within {
    box-shadow: inset 0 0 0.5em $brand-primary;
  }
}

.react-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .modal {
    display: block;
    position: fixed;
    top: 0;
    @include left(0);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

    .loading-modal {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;

      .loading {
        @extend .loading;
        @extend .loading::before;
        @extend .fa;
        @extend .fa-circle-o-notch;
        @extend .fa-spin;
        @extend .fa-3x;
        @extend .fa-fw;
        color: $white;
        font-size: $font-size-extra-large;
        position: absolute;
        @include left(50%);
        top: 50%;
      }
    }
  }
}

.display-none {
  display: none;
}

.word-break {
  word-break: break-all;
}

.details-block-container {
  display: flex;
  margin-top: 16px;
  border-radius: 4px;
  border: 1px solid #bebebe;
  background: #f0f0f0;
  width: fit-content;

  .element {
    padding: 16px;
  }
}

.full-width {
  width: 100%;
}

.table-empty-message {
  border-radius: 4px;
  border: 1px solid #bebebe;
  background: #f0f0f0;
  padding: 16px;
  width: 100%;
  font-style: italic;
}

.buq {
  .suggestions-input {
    border: 1px $border-color solid;
    border-radius: $border-radius;
    box-shadow: inset 0 0 0.5em $border-color;
    width: auto;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 36px;
    height: 36px;
    cursor: pointer;

    .disabled {
      cursor: not-allowed;
    }

    input {
      all: unset;
      text-indent: 25px;
      @include padding-right(2em);
      position: relative;
      &:focus {
        box-shadow: none;
        text-indent: 25px;
      }
    }

    input.not-selected {
      background-image: linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
      background-position:
        10px 1em,
        14px 1em;
      background-size:
        5px 5px,
        5px 5px;
      background-repeat: no-repeat;
      width: 100%;
    }

    input.selected {
      background-image: linear-gradient(45deg, gray 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, gray 50%);
      background-position:
        14px 1em,
        10px 1em;
      background-size:
        5px 5px,
        5px 5px;
      background-repeat: no-repeat;
      width: 100%;
    }

    input::placeholder {
      color: #333333;
      opacity: 1;
    }

    button {
      all: unset;
      color: #bebebe;
      @include right(0.5em);
    }

    button,
    &::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .clear-icon:hover {
      color: #a94442;
    }

    &:focus-within {
      box-shadow: inset 0 0 0.5em $brand-primary;
    }

    &.is-invalid {
      box-shadow: inset 0 0 0.5em $brand-danger;

      &::after {
        content: "\f06a";
        color: $brand-danger;
        font: normal normal normal 14px/1 FontAwesome;
        display: block;
        height: 1em;
        width: 1em;
        position: absolute;
        top: 50%;
        @include right(0.5em);
        transform: translateY(-50%);
      }
    }
  }

  .suggestions-results {
    position: absolute;
    max-height: 150px;
    width: 100%;
    overflow: auto;
    border-radius: 4px;
    border: 1px solid #bebebe;

    .suggestions-result {
      background: white;
      border: none;
      border-radius: 0px;
      @include text-align(left);
      min-height: 36px;
      width: 100%;
      overflow-wrap: break-word;

      &:hover {
        background-color: $link-color;
        color: #fff;
      }

      &.selected-value {
        background-color: #f0f0f0;
      }

      &.selected-value:hover {
        background-color: $link-color;
        color: #fff;
      }

      &.first-level {
        font-weight: bolder;
      }

      &.second-level {
        font-weight: bold;
        @include padding-left(25px);
        font-size: 13px;
      }

      &.third-level {
        @include padding-left(35px);
        font-size: 13px;
      }
    }
  }
}

.input-invalid {
  border-left: #a94442 0.25em solid;
  color: #a94442;
  font-style: normal;
  @include padding-left(0.5em);
  padding-bottom: 0;
  margin-top: 0.5em;
  font-weight: 700;
}

.tooltip-container {
  position: relative;
}

.tooltip {
  white-space: nowrap;
  visibility: hidden;
  width: auto;
  background-color: #fff;
  color: #000;
  text-align: start;
  border-radius: 4px;
  padding: 8px 30px 8px 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  @include left(50%);
  @include translate-x(-50%);
  opacity: 0;
  transition: opacity 0.4s ease;
  font-size: 14px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  border: 1px solid #ccc;

  .close-tooltip {
    position: absolute;
    top: 4px;
    @include right(4px);
    cursor: pointer;
    font-size: 18px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 100%;
    @include left(50%);
    @include margin-left(-5px);
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }
}

.tooltip.show {
  visibility: visible;
  opacity: 1;
}

.action-bar-container {
  position: fixed;
  bottom: 0;
  @include left(0);
  display: flex;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 16px;
  justify-content: space-between;
  z-index: 20;

  .left-section {
    display: flex;
    gap: 16px;
  }

  .total-cost {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin: 5px 0;
    display: flex;
    align-self: center;
    position: fixed;
    @include left(50%);
    transform: translate(-50%);
  }

  .proceed {
    padding: 8px 16px;
    border-radius: 4px;
    border-top: #3a95bc 1px solid;
    border-right: #3a95bc 1px solid;
    border-left: #3a95bc 1px solid;
    border-bottom: #3a95bc 1px solid;
    color: #fff;
    text-shadow: 0px 0px 0.1em #333;
    background: #3a95bc linear-gradient(to bottom, #5cabcd, #49a1c7 10%, #3a95bc);

    &:hover {
      background-image: none;
    }
  }
}

.modal-main {
  position: fixed;
  background: white;
  height: auto;
  top: 50%;
  @include left(50%);
  transform: translate(-50%, -50%);
  width: 600px;
  margin: 30px auto;
  border-radius: 4px;
}

.display-block {
  display: block;
}

.source-of-fund-modal {
  width: 800px;
  border-radius: 0px;
}

.react-table-container-scroll {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  margin-top: 16px;

  .react-table-content-scroll {
    overflow-x: scroll;
    width: 100%;
    margin-bottom: 0.5em;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    /* For Firefox */
    scrollbar-color: #888 #f1f1f1;
  }
}

.button-with-validation {
  position: relative;

  &.exclamation-mark::after {
    color: $brand-danger;
    content: "\f06a";
    font-family: FontAwesome;
    display: inline-block;
    @include text-align(right);
    @include margin-left(0.5em);
  }
}

.moh-approve-region-buq {
  thead > tr > th:first-child {
    padding: 20px 20px;
  }
}

.moh-approve-buq {
  thead > tr > th:first-child {
    padding: 10px 10px;
  }

  thead > tr > th:last-child {
    padding: 10px 10px;
  }

  tbody > td:first-child > i {
    margin: auto;
    margin-top: 25%;
  }
}

.moh-approve-buq-content {
  overflow-x: auto !important;
  overflow-y: hidden !important;
}

.moh-approve-buq-region {
  thead > tr > th:first-child {
    padding: 10px 10px;
  }

  thead > tr > th:nth-child(2) {
    padding: 10px 10px;
  }

  thead > tr > th:last-child {
    padding: 10px 10px;
  }

  tbody > td:nth-child(2) > i {
    margin: auto;
    margin-top: 25%;
  }
}

.checkbox-component-container {
  line-height: initial;
}
