.confirmation-dialog-overlay {
  @media (max-width: $res-sm) {
    align-items: flex-end;
  }

  .confirmation-dialog {
    display: flex;
    flex: 1 0;
    flex-direction: column;
    box-shadow: 0 0 0.5em $shadow;
    border-radius: 3px;
    padding: 2em;
    background-color: $white;

    @media (max-width: $res-sm) {
      width: 100vw;
      box-shadow: 0 -0.5em 0.5em -0.5em $shadow;
      border-radius: 0;
    }

    .confirmation-dialog-title {
      text-align: center;
      font-size: 1.4em;
    }

    .confirmation-dialog-buttons {
      padding: 1em;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

.page-responsive {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  margin: 1em;
  box-shadow: 0 0 0.5em $shadow;
  border: 0;
  background: $white;

  .page-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  .breadcrumb {
    padding-top: 1.5em;
    padding-left: 1em;
  }

  .page-header-responsive {
    padding: 0.5em 1em 1em;

    h2 {
      border-bottom: $heading-border-color 1px solid;
    }
  }

  .page-content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    padding: 1em;

    aside {
      background-color: #f0f0f0;
      border: 1px solid #bebebe;
      border-radius: 4px;
      margin-bottom: 1em;
    }
  }

  .page-footer {
    flex: 0;
    display: flex;
    padding: 1em;
    background-color: $very-light-gray;
  }
}

.form-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 100%;

  .form-header {
    flex: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 1em;

    .progress {
      width: 100%;
      margin: 0 1em 0 0;
    }
  }

  .form-body {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding: 1em;

    .form-element {
      display: flex;
      flex-direction: column;
    }
  }

  .form-footer {
    flex: 0;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: $very-light-gray;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  max-width: 250px;

  padding: 0.5em 0;
}

.number-field {
  max-width: 100px !important;
}

.inline-field {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;

  padding: 0.5em 0;

  .form-field {
    flex: 1 0 auto;
    padding: 0;
    margin-right: 0.5em;
  }

  .button-inline-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;

    margin-top: 0.5em;
  }
}

label,
strong {
  &.is-required:after {
    color: $brand-danger;
    content: '*';
    margin-left: 0.25em;
  }
}

.responsive-button {
  .show-text {
    margin-right: 0.5em;
  }

  .show-text-left {
    margin-left: 0.5em;
  }

  @media (min-width: $res-sm) {
    .has-text {
      margin-right: 0.5em;
    }
    .has-text-left {
      margin-left: 0.5em;
    }
  }

  @media (max-width: $res-sm) {
    .button-text {
      display: none;
    }
  }
}

.pagination-responsive {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  width: 100%;
  margin-bottom: 0.5em;

  span {
    margin-right: 0.5em;
  }

  .page-btn {
    padding: 0.5em 1em !important;
  }
}

.react-table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;

  .react-table-content {
    overflow: auto;
    width: 100%;
    margin-bottom: 0.5em;
  }
}

.react-table {
  width: 100%;
  border: $table-border-color $table-border-width solid;
  border-collapse: separate;

  td, th {
    border-top: $table-border-color $table-border-width solid;
    border-left: $table-border-color $table-border-width solid;

    vertical-align: middle;
    padding: $table-cell-padding;

    &:first-child {
      border-left-width: 0;
    }
  }

  tr:first-child > td {
    border-top-width: 0;
  }

  tbody > tr {
    @include table-row($table-row-background-color, $table-row-background-color-focus);
  }

  thead > tr {
    color: $table-header-color;

    th {
      background-image: linear-gradient(
              to bottom,
              $table-header-background-color,
              darken($table-header-background-color, 15%)
      );
    }
  }
}
