<div class="page">
    <h2>{{'label.approve.requisitions' | message}}</h2>
    <div class="openlmis-table-container">
        <form class="openlmis-table-controls form-inline">
            <label for="table-sort-order">{{'label.sortItemsBy' | message}}</label>
            <select id="table-sort-order" ng-model="vm.selectedColumn"
                ng-options="column.name as column.label for column in vm.columns">
            </select>
            <button ng-class="{descending: vm.reverse, ascending: !vm.reverse}" ng-click="vm.changeSortOrder()"></button>
        </form>
        <table class="openlmis-table" ng-if="vm.requisitions">
            <caption ng-if="!vm.requisitions.length">
                {{'message.no.rnr.pending.approval' | message}}
            </caption>
            <thead>
                <tr>
                    <th>{{'program.header' | message}}</th>
                    <th>{{'option.value.facility.code' | message}}</th>
                    <th>{{'option.value.facility.name' | message}}</th>
                    <th>{{'option.value.facility.type' | message}}</th>
                    <th>{{'label.period.start.date' | message}}</th>
                    <th>{{'label.period.end.date' | message}}</th>
                    <th>{{'label.date.submitted' | message}}</th>
                    <th>{{'label.emergency' | message}}</th>
                    <th class="sticky"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="requisition in vm.requisitions | orderBy: vm.selectedColumn: vm.reverse">
                    <td>{{requisition.program.name}}</th>
                    <td>{{requisition.facility.code}}</th>
                    <td>{{requisition.facility.name}}</th>
                    <td>{{requisition.facility.type.name}}</th>
                    <td>{{requisition.processingPeriod.startDate | date:'shortDate'}}</th>
                    <td>{{requisition.processingPeriod.endDate | date:'shortDate'}}</th>
                    <td>{{requisition.createdDate | date:'shortDate'}}</th>
                    <td class="col-emergency">
                        <span ng-if="requisition.emergency" class="icon-ok"></span>
                    </td>
                    <td class="sticky">
                        <button class="primary" ng-click="vm.openRnr(requisition.id)">
                            {{'button.viewRequisition' | message}}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
