<div class="page">
    <h2>{{'label.approve.requisitions' | message}}</h2>
    <div class="openlmis-table-container">
        <table class="openlmis-table" ng-if="vm.requisitions">
            <caption ng-if="!vm.requisitions.length">
                {{'message.no.rnr.pending.approval' | message}}
            </caption>
            <thead>
                <tr>
                    <th>{{'program.header' | message}}</th>
                    <th>{{'label.facility' | message}}</th>
                    <th>{{'label.period' | message}}</th>
                    <th>{{'label.startDate' | message}}</th>
                    <th>{{'label.endDate' | message}}</th>
                    <th>{{'label.date.submitted' | message}}</th>
                    <th>{{'label.emergency' | message}}</th>
                    <th class="sticky"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="requisition in vm.requisitions">
                    <td>{{requisition.program.name}}</th>
                    <td>{{requisition.facility.code}} - {{requisition.facility.name}}</th>
                    <td>{{requisition.processingPeriod.name}}</th>
                    <td>{{requisition.processingPeriod.startDate | date:'dd/MM/yyyy'}}</th>
                    <td>{{requisition.processingPeriod.endDate | date:'dd/MM/yyyy'}}</th>
                    <td>{{requisition.statusChanges.SUBMITTED.changeDate | date:'dd/MM/yyyy'}}</th>
                    <td class="col-emergency">
                        <span ng-if="requisition.emergency" class="icon-ok"></span>
                    </td>
                    <td class="sticky">
                        <button class="primary" ng-click="vm.openRnr(requisition.id)">
                            {{'button.viewRequisition' | message}}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
