.convert-to-order-list {

	.page {

		overflow: hidden;

		& > h2,
		.info-message {
			width: 100%;
		}

		& > * {
			float: left;
			margin-bottom: 10px;
		}

		.filters {
			width: 25%;
			float: right;

			.filter-by {
				width: auto;
			}

			button.search {
				@include button($green);
			}
		}

		.info-message {
			@extend .alert;
			@extend .is-info;
		}
	}

	button.convert-to-order {
		@include button($green);
		float: right;
	}

}