<div class="convert-to-order-list">
	<div class="page">
		<h2>{{'label.requisition.convertOrder' | message}}</h2>
		<section class="openlmis-table-container">
			<form ng-submit="vm.changePage()">
				<label for="searchFor">{{'label.search' | message}}</label>
				<input id="searchFor" type="text" ng-model="vm.stateParams.filterValue"
					   maxlength="50"/>
				<input type="submit" value="{{'button.search' | message}}"/>
			</form>
			<table>
				<caption ng-if="vm.infoMessage">{{vm.infoMessage | message}}</caption>
				<thead>
					<tr>
						<th class="sticky">
							<input type="checkbox" ng-model="vm.selectAll"
								   ng-change="vm.toggleSelectAll(vm.selectAll)">
						</th>
						<th>{{'program.header' | message}}</th>
						<th>{{'label.facility' | message}}</th>
						<th>{{'option.value.facility.district' | message}}</th>
						<th>{{'label.period' | message}}</th>
						<th>{{'label.startDate' | message}}</th>
						<th>{{'label.endDate' | message}}</th>
						<th>{{'label.date.approved' | message}}</th>
						<th class="sticky">{{'label.supplyingDepot' | message}}</th>
						<th>{{'label.emergency' | message}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in vm.pageItems">
						<td class="sticky">
							<input type="checkbox" ng-model="item.$selected"
								   ng-change="vm.setSelectAll()">
						</td>
						<td>{{item.requisition.program.name}}</td>
						<td>{{item.requisition.facility.code}} - {{item.requisition.facility.name}}</td>
						<td>{{item.requisition.facility.geographicZone.parent.name}}</td>
						<td>{{item.requisition.processingPeriod.name}}</td>
						<td>{{item.requisition.processingPeriod.startDate | date:'dd/MM/yyyy'}}</td>
						<td>{{item.requisition.processingPeriod.endDate | date:'dd/MM/yyyy'}}</td>
						<td>{{item.requisition.statusChanges.APPROVED.changeDate | date:'dd/MM/yyyy'}}</td>
						<td class="sticky">
							<select ng-model="item.requisition.supplyingFacility"
									ng-options="depot.id as depot.name for depot in item.supplyingDepots">
								<option ng-value="" ng-if="!item.requisition.supplyingFacility">
									{{'label.select.none' | message}}
								</option>
							</select>
						</td>
						<td class="col-emergency">
							<i ng-class="{'icon-ok': item.requisition.emergency}"></i>
						</td>
					</tr>
				</tbody>
			</table>
			<openlmis-pagination ng-model="vm.stateParams.page"
				ng-change="vm.changePage()"
				total-items="vm.totalItems"
				items="vm.pageItems.length"
				page-size="vm.stateParams.size">
			</openlmis-pagination>
		</section>
	</div>
	<div class="openlmis-toolbar" ng-if="vm.pageItems.length">
	    <button class="primary" ng-click="vm.convertToOrder()">{{'link.requisitions.convertToOrder' | message}}</button>
	</div>
</div>
