<div class="convert-to-order-list">
	<div class="page">
		<h2>{{'label.requisition.convertOrder' | message}}</h2>
		<section class="table-container" ng-if="!vm.nothingToConvert">
			<form ng-submit="vm.reload()">
				<label for="searchFor">{{'search.for' | message}}</label>
				<input id="searchFor" class="filter-value" ng-model="vm.searchParams.filterValue"
					   maxlength="50"/>
				<label for="searchIn">{{'search.in' | message}}</label>
				<select id="searchIn" class="filter-by" ng-model="vm.searchParams.filterBy">
					<option ng-repeat="filter in vm.filters" value="{{filter.value}}"
							ng-selected="vm.searchParams.filterBy === filter.value">
						{{filter.name | message}}
					</option>
				</select>
				<input class="btn btn-primary" type="submit" value="{{'button.search' | message}}"/>
			</form>
			<table>
				<caption ng-if="vm.infoMessage">{{vm.infoMessage | message}}</caption>
				<thead>
					<tr>
						<th>
							<input type="checkbox" ng-model="vm.selectAll"
								   ng-change="vm.toggleSelectAll(vm.selectAll)">
						</th>
						<th>{{'program.header' | message}}</th>
						<th>{{'option.value.facility.code' | message}}</th>
						<th>{{'option.value.facility.name' | message}}</th>
						<th>{{'option.value.facility.district' | message}}</th>
						<th>{{'label.period.start.date' | message}}</th>
						<th>{{'label.period.end.date' | message}}</th>
						<th>{{'label.date.modified' | message}}</th>
						<th>{{'label.supplyingDepot' | message}}</th>
						<th>{{'msg.emergency' | message}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in vm.requisitions">
						<td>
							<input type="checkbox" ng-model="item.$selected"
								   ng-change="vm.setSelectAll()">
						</td>
						<td>{{item.requisition.program.name}}</td>
						<td>{{item.requisition.facility.code}}</td>
						<td>{{item.requisition.facility.name}}</td>
						<td>{{item.requisition.facility.geographicZone.parent.name}}</td>
						<td>{{item.requisition.processingPeriod.startDate | date:'shortDate'}}</td>
						<td>{{item.requisition.processingPeriod.endDate | date:'shortDate'}}</td>
						<td>{{item.requisition.processingPeriod.processingSchedule.modifiedDate | date:'shortDate'}}</td>
						<td>
							<select ng-model="item.requisition.supplyingFacility"
									ng-options="depot.id as depot.name for depot in item.supplyingDepots">
								<option ng-value="" ng-if="!item.requisition.supplyingFacility">
									{{'label.select.none' | message}}
								</option>
							</select>
						</td>
						<td class="col-emergency">
							<i ng-class="{'icon-ok': item.requisition.emergency}"></i>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
	<div class="toolbar" ng-if="vm.requisitions.length">
	    <button class="convert-to-order" ng-click="vm.convertToOrder()">
	 		{{'link.requisitions.convertToOrder' | message}}
	 	</button>
	</div>
</div>
