.openlmis-toolbar {
    background: $shadow;
    bottom: 0;
    padding: 0.5em;
    position: fixed;
    z-index: 15;
    width: 100%;

    & > ng-transclude {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;

        & > .primary-action {
            margin-left: auto;
        }

        & > .btn:not(:first-child):not(.primary-action),
        & > .primary-action ~ .primary-action {
            margin-left: 0.5em;
        }
    }

}
