<div class="page">
    <h2>{{'header.managePod' | message}}</h2>
    <section class="openlmis-table-container">
        <form ng-submit="vm.loadOrders()">
            <fieldset class="form-group">
                <legend>{{'label.requisition.facilityType' | message}}</legend>
                <label class="radio">
                    <input type="radio" ng-model="vm.isSupervised" ng-value="false"
                           ng-change="vm.updateFacilityType(vm.isSupervised)"/>
                    {{'label.myFacility' | message}}
                </label>
                <label class="radio">
                    <input type="radio" ng-model="vm.isSupervised" ng-value="true"
                           ng-change="vm.updateFacilityType(vm.isSupervised)"
                           ng-disabled="!vm.supervisedPrograms.length"/>
                    {{'label.supervised.Facility' | message}}
                </label>
            </fieldset>
            <fieldset ng-show="!vm.isSupervised">
                <label for="requestingFacility">{{'label.requestingFacility' | message}}</label>
                <select id="requestingFacility" ng-model="vm.requestingFacilityId"
                        ng-options="facility.id as facility.name for facility in vm.requestingFacilities"
                        placeholder="label.select.facility" required>
                </select>
                <label for="programListMyFacility">{{'label.program' | message}}</label>
                <select id="programListMyFacility" ng-model="vm.selectedProgramId"
                        ng-options="program.id as program.name for program in vm.programs"
                        placeholder="{{'label.select.program' | message}}" required>
                </select>
            </fieldset>
            <fieldset ng-show="vm.isSupervised">
                <label for="programListSupervisedFacility">{{'label.program' | message}}</label>
                <select id="programListSupervisedFacility" ng-model="vm.selectedProgramId"
                        ng-options="program.id as program.name for program in vm.programs"
                        ng-change="vm.loadFacilitiesForProgram(vm.selectedProgramId)"
                        placeholder="{{'label.select.program' | message}}" required>
                </select>
                <label for="supervisedFacilityName">
                    {{'label.requestingFacility' | message}}
                </label>
                <select id="supervisedFacilityName" ng-model="vm.requestingFacilityId"
                        ng-options="facility.id as facility.name for facility in vm.requestingFacilities | unique:'id'"
                        placeholder="{{'label.select.facility' | message}}" required>
                </select>
            </fieldset>
            <input type="submit" value="{{'button.search'|message}}"/>
        </form>
        <table>
            <caption ng-if="vm.orders && !vm.orders.length">
                {{'msg.noPodsFound' | message}}
            </caption>
            <caption ng-if="vm.programs && !vm.programs.length">
                {{'msg.no.program.available' | message}}
            </caption>
            <caption ng-if="vm.requestingFacilities && !vm.requestingFacilities.length">
                {{'msg.no.facility.available' | message}}
            </caption>
            <thead>
                <tr>
                    <th>{{'label.orderNumber' | message}}</th>
                    <th>{{'label.supplyingDepot' | message}}</th>
                    <th>{{'label.facility' | message}}</th>
                    <th>{{'program.header' | message}}</th>
                    <th>{{'label.period' | message}}</th>
                    <th>{{'label.startDate' | message}}</th>
                    <th>{{'label.endDate' | message}}</th>
                    <th>{{'label.orderDate' | message}}</th>
                    <th>{{'label.emergency' | message}}</th>
                    <th class="sticky">{{'label.actions' | message}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in vm.orders">
                    <td>{{order.orderCode}}</td>
                    <td>{{order.supplyingFacility.name}}</td>
                    <td>{{order.facility.code}} - {{order.facility.name}}</td>
                    <td>{{order.program.name}}</td>
                    <td>{{order.processingPeriod.name}}</td>
                    <td>{{order.processingPeriod.startDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{order.processingPeriod.endDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{order.createdDate | date: 'dd/MM/yyyy'}}</td>
                    <td class="col-emergency">
                        <i ng-class="{'icon-ok': order.emergency}"></i>
                    </td>
                    <td class="sticky">
                        <button class="primary" ng-click="vm.openPod(order.id)">{{'button.viewOrder' | message}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
