<div class="losses-and-adjustments-modal">
    <form ng-if="!vm.isDisabled()" ng-submit="vm.addAdjustment()">
        <fieldset>
            <legend >{{'label.add.loss.adjustment' | message}}</legend>
            <div class="form-inline">
                <div class="form-group">
                    <label for="reason">{{'label.equipment.maintenance.request.reason' | message}}</label>
                    <select id="reason"
                     ng-model="vm.adjustment.reason"
                     ng-options="reason as reason.name for reason in vm.reasons"
                     ></select>
                </div>
                <div class="form-group">
                    <label for="quantity">{{'label.quantity' | message}}</label>
                    <input id="quantity"
                           class="form-control"
                           ng-model="vm.adjustment.quantity"
                           required positive-integer/>
                </div>
                <button class="btn btn-primary" type="submit">
                    {{'button.add' | message}}
                </button>
            </div>
        </fieldset>
    </form>

    <div class="adjustment-warning alert is-info"
         ng-show="vm.adjustments == null || vm.adjustments.length === 0">
            {{'label.no.losses.adjustment' | message}}
    </div>

    <dl ng-if="vm.adjustments.length">
        <dt ng-repeat-start="adjustment in vm.adjustments">
            {{vm.getReasonName(adjustment.reasonId)}}
        </dt>
        <dd ng-repeat-end>
            <div ng-if="vm.isDisabled()">{{adjustment.quantity}}</div>
            <input id="adjustment-quantity-{{$index}}"
                class="form-control"
                ng-model="adjustment.quantity"
                ng-change="vm.recalculateTotal()"
                ng-if="!vm.isDisabled()"
                required positive-integer />
            <input type="button" class="danger"
                ng-click="vm.removeAdjustment(adjustment)"
                ng-if="!vm.isDisabled()"
                value="{{'button.remove' | message}}">
        </dd>
        <dt>{{'label.losses.total' | message}}</dt>
        <dd>{{vm.getTotal()}}</dd>
    </dl>

    <button class="btn btn-default" ng-click="vm.hideModal()">
        {{'button.close' | message}}
    </button>
</div>
