<div class="template-list">
    <div class="page">
        <h2>{{'configure.rnr.header' | message}}</h2>
        <table ng-if="programs.length">
    		<thead>
    		<tr>
    			<th>{{'program.header' | message}}</th>
    			<th></th>
    		</tr>
    		</thead>
    		<tbody>
    		<tr ng-repeat="program in programs">
    			<td>{{program.name}}</td>
    			<td>
    				<div ng-if="program.template">
                        <i class="fa fa-check"></i>
                        <div>{{'template.configured' | message}}</div>
                        <a ng-click="goToTemplate(program.template.id)" openlmis-message="link.edit">{{'link.edit' | message}}</a>
    				</div>
    			</td>
    		</tr>
    		</tbody>
        </table>
    </div>
</div>
