<div class="template-list">
    <div class="page">
        <h2 openlmis-message="configure.rnr.header"></h2>
        <table ng-if="programs.length">
    		<thead>
    		<tr>
    			<th openlmis-message="program.header"></th>
    			<th></th>
    		</tr>
    		</thead>
    		<tbody>
    		<tr ng-repeat="program in programs">
    			<td>{{program.name}}</td>
    			<td>
    				<div ng-if="program.template">
                        <i class="fa fa-check"></i>
                        <div openlmis-message="template.configured"></div>
                        <a openlmis-message="link.edit"></a>
    				</div>
    			</td>
    		</tr>
    		</tbody>
        </table>
    </div>
</div>
