<td>
	<div ng-if="isReadOnly && !isTotalLossesAndAdjustments">
		{{lineItem.getFieldValue(column.name)}}
	</div>
	<input type="text"
		   ng-model="lineItem[column.name]"
		   ng-if="!isReadOnly && !isTotalLossesAndAdjustments"
		   ng-change="validate()"
		   ng-blur="validate()"
		   positive-integer>
	<div ng-if="isTotalLossesAndAdjustments"
		 losses-and-adjustments
		 line-item="lineItem"
		 requisition="requisition"></div>
	 <div class="cell-error-message">{{lineItem.$errors[column.name]}}</div>
</td>
