<div class="page">
    <h2 openlmis-message="header.view.requisitions"></h2>
    <form class="form-filter">
        <div class="form-group">
            <label for="facility" openlmis-message="label.requisition.facilityName"></label>
            <openlmis-select
                id="facility"
                ng-model="selectedFacility"
                ng-required
                items="facilities"
                field-displayed="name"
                track-by="id">
            </openlmis-select>
        </div>
        <div class="form-group">
            <label for="program" openlmis-message="label.program"></label>
            <openlmis-select
                id="program"
                ng-required
                ng-model="selectedProgram"
                items="programs"
                field-displayed="name"
                track-by="id">
            </openlmis-select>
        </div>
        <!--<div class="form-group">
            <label for="status" openlmis-message="label.status"></label>
            <div id="status"
                ng-dropdown-multiselect="" 
                options="statuses" 
                selected-model="selectedStatuses" 
                extra-settings="multiselectSettings">
            </div>
        </div>-->
        <div class="form-group">
            <label for="startDate" openlmis-message="label.from"></label>
            <openlmis-datepicker input-id="startDate" value="startDate"></openlmis-datepicker>
        </div>
        <div class="form-group">
            <label for="endDate" openlmis-message="label.to"></label>
            <openlmis-datepicker input-id="endDate" value="endDate"></openlmis-datepicker>
        </div>
        <div class="form-group">
            <input id="searchButton" ng-click="search()"
                class="btn btn-primary"
                openlmis-message="button.search" type="button"
                ng-if="selectedFacility"/>
        </div>
    </form>
    <div id="requisitionViewList" 
        class="grid grid-requisition-list" 
        ui-grid="gridOptions" 
        ng-if="requisitionList.length"></div>
    <div ng-if="error" class="alert is-info" openlmis-message="error" ng-show="error"></div>
</div>