
#requisition-header .info-box{
	@include clearfix();

	display: flex;

	> * {
		flex: 0 0 auto;
	}

	.regular {
	  @include right-arrow($light-gray);
	}

	.regular:after, .regular:before {
	  @include right-arrow-after-before();
	}

	.regular:after {
	  @include right-arrow-after($light-gray);
	}

	.emergency {
	  @include right-arrow($red);
	  color: $white;
	}

	.emergency:after, .emergency:before {
	  @include right-arrow-after-before();
	}

	dl{
		display: flex;
		flex-grow: 1;
		padding-top: 30px;
		padding-bottom: 0px;
		margin-left: 15px;
	}
	dt{
		display: block;
		flex: 0 0 auto;
		width: 0px;
		position: relative;
		top: -1.2em;
		white-space: nowrap;
	}
	dt::after{
		content: ":";
	}
	dd{
		display: block;
		flex: 1 0 auto;
		padding-right: 1em;
		&:last-child{
			padding-right: 0em;
		}
	}
}

#requisition-head-block {
  padding: 8px 0px 0px
}

.pull-left.requisition-head-block {
  width: 90%;
  margin-left: 0.4%;
}

@media screen and (min-width: 1024px) {
  .pull-left.requisition-head-block {
    width: 90.5%;
  }
}

@media screen and (min-width: 1100px) {
  .pull-left.requisition-head-block {
    width: 88%;
  }
}

@media screen and (min-width: 1020px) {
  .pull-left.requisition-head-block {
    width: 87%;
  }
}

@media screen and (min-width: 960px) {
  .pull-left.requisition-head-block {
    width: 86%;
  }
}

@media screen and (min-width: 840px) {
  .pull-left.requisition-head-block {
    width: 84%;
  }
}

@media screen and (min-width: 648px) {
  .pull-left.requisition-head-block {
    width: 82%;
  }
}