<div id="action_buttons" class="action-buttons">
    <div class="form-cell button-row">
        <input id="deleteRnrButton" type="button"
               class="btn delete-button"
               openlmis-message="button.delete"
               ng-if="displayDelete()"
               ng-click="removeRnr()"/>
        <input id="saveRnrButton" ng-disabled="formDisabled" ng-click="saveRnr()"
               class="btn btn-default save-button"
               openlmis-message="button.save" type="button"/>
        <input id="submitRnrButton" ng-disabled="formDisabled" ng-click="submitRnr()"
               class="btn btn-primary primary-action"
               openlmis-message="button.submit" type="button"
               ng-if="displaySubmit()"/>
        <input id="authorizeRnrButton" type="button"
              class="btn btn-primary primary-action"
              openlmis-message="button.authorize"
              ng-if="displayAuthorize()"
              ng-click="authorizeRnr()"/>
        <input id="approveRnrButton" type="button"
               class="btn btn-primary primary-action"
               openlmis-message="button.approve"
               ng-if="displayApproveAndReject()"
               ng-click="approveRnr()"/>
        <input id="rejectRnrButton" type="button"
               class="btn btn-danger primary-action"
               openlmis-message="button.rnr.reject"
               ng-if="displayApproveAndReject()"
               ng-click="rejectRnr()"/>

    </div>
    <div class="toolbar-error" id="errorMessage" fade-out="3000" openlmis-message="error"
         ng-show="error"></div>
    <div class="toolbar-success" id="successMessage" fade-out="3000" openlmis-message="message"
         ng-show="message"></div>
</div>