<div class="non-full-supply openlmis-table-container">
	<button class="primary" ng-show="vm.displayAddProductButton" ng-click="vm.addProduct()" >
		{{'button.add' | message}}
	</button>
	<table>
		<caption ng-if="!vm.items.length">{{'requisition.nonFullSupply.empty' | message}}</caption>
		<thead>
			<tr>
				<th class="col-{{column.name}}" ng-repeat="column in vm.columns | orderBy : 'displayOrder'" ng-class="{'col-sticky': !column.$canChangeOrder}" popover="{{column.definition}}">{{column.label}}</th>
				<th class="col-sticky" ng-if="vm.displayDeleteColumn()"></th>
			</tr>
		</thead>
		<tbody ng-repeat="(category, lineItems) in vm.items | groupBy:'$program.orderableCategoryDisplayName'" tbody-title="{{category}}">
			<tr ng-class="{'invalid-row': !vm.isLineItemValid(lineItem)}" ng-repeat="lineItem in lineItems | orderBy : '$program.displayOrder'">
				<td ng-repeat="column in vm.columns | orderBy : 'displayOrder'"
					product-grid-cell
					requisition="vm.requisition"
					column="column"
					line-item="lineItem" ></td>
				<td ng-if="vm.displayDeleteColumn()">
					<button class="hide-line-item"
						ng-click="vm.deleteLineItem(lineItem)"
						ng-if="lineItem.$deletable">
						<i class="fa fa-remove"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	<openlmis-pagination
		list="vm.allItems"
		paged-list="vm.items">
	<openlmis-pagination/>
</div>
