<div class="page">
    <h2 openlmis-message="label.approve.requisitions"></h2>
    <div class="alert alert-success" id="saveSuccessMsgDiv" ng-show="message"
         ng-bind="$parent.message">
    </div>
    <div class="alert alert-info" id="NoRequisitionsPendingMessage" ng-hide="requisitions.length"
         openlmis-message="message.no.rnr.pending.approval">
    </div>
    <div ng-show="requisitions.length">
        <div class="row-fluid">
            <div class="span6 offset6 grid-filters">
                <label for="searchRequisition" openlmis-message="label.search"></label>
                <input id="searchRequisition" class="search-query" ng-change="filterRequisitions()" type="text"
                       ng-model="query"/>
                <span openlmis-message="label.in"></span>
                <select ng-model="searchField" ng-change="filterRequisitions()">
                    <option value="" openlmis-message="option.value.all"></option>
                    <option value="program.name" openlmis-message="option.value.program"></option>
                    <option value="facility.code" openlmis-message="option.value.facility.code"></option>
                    <option value="facility.name" openlmis-message="option.value.facility.name"></option>
                </select>
            </div>
        </div>
        <div id="approveReqList" class="grid grid-approval-list" ui-grid="gridOptions" ng-show="requisitions.length"></div>
    </div>
</div>