<div ng-if="vm.showInDoses" >
    <input id="quantity"                                       
        class="form-control"
        ng-class="vm.inputClass"
        ng-model="vm.item.quantity"
        ng-change="vm.changeValue(vm.item)"
        ng-disabled="vm.disabled"
        positive-integer />
</div>
<div class="openlmis-input" ng-if="!vm.showInDoses">
    <input id="quantityInPacks"                                 
        class="form-control"
        ng-class="vm.inputClass"
        ng-model="vm.item.quantityInPacks"
        ng-change="vm.changeValue(vm.item)"
        ng-disabled="vm.disabled"
        placeholder="{{'openlmisInputDosesPacks.Packs' | message }}"
        positive-integer />
    <p> ( + </p>
    <input id="quantityRemainderInDoses"  
        class="form-control"
        ng-class="vm.inputClass"
        ng-model="vm.item.quantityRemainderInDoses"
        ng-change="vm.changeValue(vm.item)"
        ng-disabled="vm.disabled"
        placeholder="{{'openlmisInputDosesPacks.Doses' | message }}"
        positive-integer />
    <p>{{'openlmisInputDosesPacks.DosesBracket' | message }}</p>
</div>
