.bootstrap-datetimepicker-widget {
    a.btn {
        background-color: white;
        background-image: none;
        border: none;
    }
}

.bootstrap-datetimepicker-widget table td {
    border-color: red !important;
}