<div class="product-grid">
	<table ng-if="gridVisible()">
		<thead>
			<tr>
				<th class="col-{{column.name}}" ng-repeat="column in requisition.$template.getColumns(nonFullSupply) | orderBy : 'displayOrder'">{{column.label}}</th>
				<th ng-if="nonFullSupply"></th>
			</tr>
		</thead>
		<tbody ng-repeat="category in getCategories()">
			<tr>
			  <td class="productCategory" colspan="{{requisition.$template.getColumns(nonFullSupply).length + 1}}">{{category.name}}</td>
			</tr>
			<tr ng-class="{'invalid-row': !isLineItemValid(lineItem)}" ng-repeat="lineItem in category.lineItems">
			  <td ng-repeat="column in requisition.$template.getColumns(nonFullSupply) | orderBy : 'displayOrder'" product-grid-cell></td>
				<td ng-if="nonFullSupply">
					<button class="hide-line-item"
									ng-click="hideLineItem(category, lineItem)"
									ng-disabled="!lineItem.$hideable">
									<i class="fa fa-remove"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>

	<button class="add-product"
			ng-if="nonFullSupply"
			add-product
			requisition="requisition">
			{{'button.add' | message}}
			</button>
</div>
