<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~  
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
  -->
<div class="login-container">
    <div class="modal-login-header">
        <h1>{{'label.app.header' | message}}</h1>
        <openlmis-locale class="locale-container"/>
    </div>
    <div class="login-form" ng-controller="ForgotPasswordController as vm">
        <h2>{{'forgot.password.email.subject' | message}}</h2>
        <div class="form-desc">{{'reset.password.message' | message}}</div>
        <form>
            <fieldset>
                <div class="login-form-row">
                    <label for="email">{{'placeholder.email' | message}}</label>
                    <input type="text" id="email" ng-model="vm.email"/>
                </div>
                <div class="alert is-error" id="errorMessage" ng-if="vm.error">{{vm.error | message}}</div>
                <div class="login-form-row">
                    <button id="submitPasswordButton" class="btn btn-primary" ng-click="vm.forgotPassword()" ng-disabled="!vm.email">{{'button.submit' | message}}</button>
                    <button id="cancelPasswordButton" class="btn btn-cancel" ng-click="vm.goToLogin()">{{'button.cancel' | message}}</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="powered-by">
        Powered by <a href="http://openlmis.org" target="_blank">OpenLMIS</a>
    </div>
</div>
