<!--
~ This program is part of the OpenLMIS logistics management information system platform software.
~ Copyright © 2013 VillageReach
~
~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
~  
~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
-->
<div class="login-container">
    <div class="modal-login-header">
        <h1>{{'label.app.header' | message}}</h1>
        <openlmis-locale class="locale-container"/>
    </div>
    <div class="login-form" ng-controller="ResetPasswordController">
        <form>
            <h2>{{'button.reset.password' | message}}</h2>
            <fieldset>
                <div class="login-form-row">
                    <label for="password1">{{'placeholder.new.password' | message}}</label>
                    <input ng-model="password1" type="password" id="password1" required autofocus/>
                </div>
                <div class="login-form-row">
                    <label for="password2">{{'placeholder.reenter.password' | message}}</label>
                    <input ng-model="password2" type="password" id="password2" required/>
                </div>
                <div id="error" class="alert is-error" ng-if="error">{{error | message}}</div>
                <div class="login-form-row">
                    <button class="btn btn-primary" ng-click="changePassword()">{{'label.change.password' | message}}</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="powered-by">
        Powered by <a href="http://openlmis.org" target="_blank">OpenLMIS</a>
    </div>
</div>
