<aside class="pod-info">
    <dl>
        <dt>{{'label.deliveredBy' | message}}</dt>
        <dd>
            <div ng-if="!vm.isSubmitted()">
                <input type="text" ng-model="vm.pod.deliveredBy" ng-change="vm.pod.validateRequiredField('deliveredBy')" ng-blur="vm.pod.validateRequiredField('deliveredBy')"/>
                <div ng-if="vm.pod.$errors.deliveredBy" class="cell-error-message">{{vm.pod.$errors.deliveredBy}}</div>
            </div>
            <div ng-if="vm.isSubmitted()">{{vm.pod.deliveredBy}}</div>
        </dd>
        <dt>{{'label.receivedBy' | message}}</dt>
        <dd>
            <div ng-if="!vm.isSubmitted()">
                <input type="text" ng-model="vm.pod.receivedBy" ng-change="vm.pod.validateRequiredField('receivedBy')" ng-blur="vm.pod.validateRequiredField('receivedBy')"/>
                <div ng-if="vm.pod.$errors.receivedBy" class="cell-error-message">{{vm.pod.$errors.receivedBy}}</div>
            </div>
            <div ng-if="vm.isSubmitted()">{{vm.pod.receivedBy}}</div>
        </dd>
        <dt>{{'label.receivedIn' | message}}</dt>
        <dd>
            <div ng-if="!vm.isSubmitted()">
                <openlmis-datepicker input-id="receivedDate" value="vm.pod.receivedDate"
                    ng-change="vm.pod.validateRequiredField('receivedDate')"
                    ng-blur="vm.pod.validateRequiredField('receivedDate')">
                </openlmis-datepicker>
                <div ng-if="vm.pod.$errors.receivedDate" class="cell-error-message">{{vm.pod.$errors.receivedDate}}</div>
            </div>
            <div ng-if="vm.isSubmitted()">{{vm.pod.receivedDate | date: 'dd/MM/yyyy'}}</div>
        </dd>
    </dl>
</aside>
