<h2>{{'label.podFor' | message}} {{vm.pod.order.program.name}}</h2>
<aside class="pod-info">
    <div ng-class="{'pod-emergency': vm.pod.order.emergency, 'pod-regular': !vm.pod.order.emergency}">
        <span>{{vm.typeMessage() | message}}</span>
    </div>

    <dl>
        <div>
            <dt>{{'label.orderNumber' | message}}</dt>
            <dd>{{vm.pod.order.orderCode}}</dd>
        </div>
        <div>
            <dt>{{'label.facility' | message}}</dt>
            <dd>{{vm.pod.order.facility.code}} - {{vm.pod.order.facility.name}}</dd>
        </div>
        <div>
            <dt>{{'label.orderDate' | message}}</dt>
            <dd>{{vm.pod.order.createdDate | date: 'dd/MM/yyyy HH:mm:ss'}}</dd>
        </div>
        <div>
            <dt>{{'label.reportingPeriod' | message}}</dt>
            <dd>{{vm.pod.order.processingPeriod | period}}</dd>
        </div>
        <div>
            <dt>{{'label.supplyingDepot' | message}}</dt>
            <dd>{{vm.pod.order.supplyingFacility.name}}</dd>
        </div>
        <div>
            <dt ng-if="vm.pod.order.facility.geographicZone.parent.name">{{'label.district' | message}}</dt>
            <dd ng-if="vm.pod.order.facility.geographicZone.parent.name">{{vm.pod.order.facility.geographicZone.parent.name}}</dd>
        </div>
        <div>
            <dt>{{'label.region' | message}}</dt>
            <dd>{{vm.pod.order.facility.geographicZone.name}}</dd>
        </div>
    </dl>
</aside>
