<h2>{{'label.podFor' | message}} {{vm.pod.order.program.name}}</h2>
<aside class="pod-info">
    <div ng-class="{'pod-emergency': vm.pod.order.emergency, 'pod-regular': !vm.pod.order.emergency}">
        <span>{{vm.typeMessage() | message}}</span>
    </div>

    <div class="pod-details">
        <div>
            <strong>{{'label.orderNumber' | message}}</strong>
            <div>{{vm.pod.order.orderCode}}</div>
        </div>
        <div>
            <strong>{{'label.facility' | message}}</strong>
            <div>{{vm.pod.order.facility.code}} - {{vm.pod.order.facility.name}}</div>
        </div>
        <div>
            <strong>{{'label.orderDate' | message}}</strong>
            <div>{{vm.pod.order.createdDate | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
        </div>
        <div>
            <strong>{{'label.reportingPeriod' | message}}</strong>
            <div>{{vm.pod.order.processingPeriod | period}}</div>
        </div>
        <div>
            <strong>{{'label.supplyingDepot' | message}}</strong>
            <div>{{vm.pod.order.supplyingFacility.name}}</div>
        </div>
        <div>
            <strong ng-if="vm.pod.order.facility.geographicZone.parent.name">{{'label.district' | message}}</strong>
            <div ng-if="vm.pod.order.facility.geographicZone.parent.name">{{vm.pod.order.facility.geographicZone.parent.name}}</div>
        </div>
        <div>
            <strong>{{'label.region' | message}}</strong>
            <div>{{vm.pod.order.facility.geographicZone.name}}</div>
        </div>
    </dl>
</aside>
