<div class="page">
    <ng-include src="'proof-of-delivery-view/header.html'"></ng-include>
    <div class="product-grid table-container">
    	<table table-pinned-columns>
    		<thead>
    			<tr>
                    <th>{{'label.productName' | message}}</th>
                    <th>{{'label.productUnit' | message}}</th>
                    <th>{{'label.packsToShip' | message}}</th>
                    <th>{{'label.quantityShipped' | message}}</th>
                    <th>{{'label.quantityReceived' | message}}</th>
                    <th>{{'label.quantityReturned' | message}}</th>
                    <th>{{'label.replacedProductCode' | message}}</th>
                    <th>{{'label.notes' | message}}</th>
    			</tr>
    		</thead>
    		<tbody title="{{category}}" ng-repeat="(category, lineItems) in vm.categories">
    			<tr ng-class="{'invalid-row': !vm.pod.isLineItemValid(lineItem)}"
                    ng-repeat="lineItem in lineItems | orderBy : 'orderLineItem.orderableProduct.name'">
                    <td>{{lineItem.orderLineItem.orderableProduct.name}}</td>
                    <td>{{lineItem.orderLineItem.orderableProduct.dispensable.dispensingUnit}}</td>
                    <td>{{lineItem.orderLineItem.packsToShip}}</td>
                    <td>{{lineItem.quantityShipped}}</td>
                    <td>
                        <input positive-integer type="text" ng-model="lineItem.quantityReceived"/>
                        <div ng-if="lineItem.quantityReceived === null || lineItem.quantityReceived === undefined" class="cell-error-message">{{'msg.fieldRequired' | message}}</div>
                    </td>
                    <td>
                        <input positive-integer type="text" ng-model="lineItem.quantityReturned"/>
                    </td>
                    <td>{{lineItem.replacedProductCode}}</td>
                    <td>
                        <input type="text" ng-model="lineItem.notes"/>
                    </td>
    			</tr>
    		</tbody>
    	</table>
    </div>
    <ng-include src="'proof-of-delivery-view/footer.html'"></ng-include>
</div>
<ng-include src="'proof-of-delivery-view/toolbar.html'"></ng-include>
