<div class="status-messages">
    <header>
        Comments
        <a ng-show="vm.requisition.$statusMessages.length > 0" ng-click="vm.displayRequisitionHistory()">{{'label.viewHistory' | message}}</a>
    </header>
    <div class="status-message-list">
        <div class="status-message" ng-if="vm.requisition.$statusMessages.length">
            <header>
                <div class="status">{{vm.requisition.$statusMessages[0].status | requisitionStatus}}</div>
                <div class="date">
                    {{vm.requisition.$statusMessages[0].authorFirstName}}
                    {{vm.requisition.$statusMessages[0].authorLastName}}
                    on
                    {{vm.requisition.$statusMessages[0].createdDate | date: 'longDate'}}
                </div>
            </header>
            {{vm.requisition.$statusMessages[0].body}}
        </div>
        <div class="info-no-comments" ng-if="!vm.requisition.$statusMessages.length && vm.displayAddComment()">
            {{'msg.noCommentsAdded' | message}}
        </div>
        <div ng-hide="vm.displayAddComment()">
            <label for="requisition-status-message-textarea">{{'requisition.addStatusMessage.label' | message}}</label>
            <textarea id="requisition-status-message-textarea" ng-model="vm.requisition.draftStatusMessage" ></textarea>
        </div>
    </div>
    <footer>
        <input type="button" class="primary" value="{{'button.addComment' | message}}" ng-click="vm.addComment()" ng-show="vm.displayAddComment()"/>
        <input type="button" class="danger" value="{{'button.removeComment' | message}}" ng-click="vm.removeComment()" ng-hide="vm.displayAddComment()"/>
    </footer>
</div>
