
.status-message > input {
    &.btn-primary,
    &.delete-button {
        float: right;
    }
}

.status-message {
    padding: $padding2px;
    margin-bottom: 1em;
    display: block;
    > textarea {
        width: 100%;
        height: 2.7em;
    }
}