

.status-message {
    
    > header {
        @extend .minor-heading;
        justify-content: space-between;

        & > .status {
            font-weight: bold;
        }

        & > .date {
            font-style: italic;
        }
    }

    & + .status-message {
        margin-top: 1em;
    }
}

.bootbox-body > .status-message-list {
    padding: 1.5em 0;
}

.info-no-comments {
    font-style: italic;
}
