<div class="status-messages">
    <header>
        Comments
        <a ng-click="vm.displayRequisitionHistory()">{{'label.viewHistory' | message}}</a>
    </header>
    <div class="status-message-list">
        <div class="status-message">
            <header>
                <div class="status">{{vm.requisition.$statusMessages[0].status | requisitionStatus}}</div>
                <div class="date">
                    {{vm.requisition.$statusMessages[0].authorFirstName}}
                    {{vm.requisition.$statusMessages[0].authorLastName}}
                    on
                    {{vm.requisition.$statusMessages[0].createdDate | date: 'longDate'}}
                </div>
            </header>
            {{vm.requisition.$statusMessages[0].body}}
        </div>
        <textarea ng-model="vm.requisition.draftStatusMessage" ng-hide="vm.displayAddComment()"></textarea>
    </div>
    <footer>
        <input type="button" class="primary" value="{{'button.addComment' | message}}" ng-click="vm.addComment()" ng-show="vm.displayAddComment()"/>
        <input type="button" class="danger" value="{{'button.removeComment' | message}}" ng-click="vm.removeComment()" ng-hide="vm.displayAddComment()"/>
    </footer>
</div>
