<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" ng-click="$hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        {{(vm.updateMode ? 'label.updateUser' : 'label.createUser') | message}}
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="newUserForm"class="user-form" ng-submit="vm.createUser()">
                        <label for="username">{{'label.username' | message}}</label>
                        <input id="username" ng-model="vm.user.username" type="text" required/>
                        <label for="email">{{'label.email' | message}}</label>
                        <input id="email" ng-model="vm.user.email" type="text" required/>
                        <label for="firstName">{{'label.firstName' | message}}</label>
                        <input id="firstName" ng-model="vm.user.firstName" type="text" required/>
                        <label for="lastName">{{'label.lastName' | message}}</label>
                        <input id="lastName" ng-model="vm.user.lastName" type="text" required/>
                        <fieldset class="form-group">
                            <legend>{{'label.loginRestricted' | message}}</legend>
                            <label class="radio">
                                <input type="radio" ng-model="vm.user.loginRestricted"
                                    ng-value="true" required/>
                                {{'label.yes' | message}}
                            </label>
                            <label class="radio">
                                <input type="radio" ng-model="vm.user.loginRestricted"
                                    ng-value="false" required/>
                                {{'label.no' | message}}
                            </label>
                        </fieldset>
                        <label>
                            <span>{{'label.verified' | message}}</span>
                            <span ng-if="vm.user.verified">{{'label.yes' | message}}</span>
                            <span ng-if="!vm.user.verified">{{'label.no' | message}}</span>
                        </label>
                    </form>
                </div>
                <div class="modal-footer">
                    <button ng-click="$hide()">{{'button.cancel' | message}}</button>
                    <input form="newUserForm" type="submit"
                        value="{{(vm.updateMode ? 'label.updateUser' : 'label.createUser') | message}}"/>
                </div>
        </div>
    </div>
</div>
