<div class="page">
    <h2>{{'label.users' | message}}</h2>
    <section class="openlmis-table-container">
        <button ng-click="vm.goToCreateNewUser()" class="primary">{{'button.add' | message}}</button>
        <form>
            <fieldset class="form-group">
                <label for="emailOrName">{{'msg.emailOrName' | message}}</label>
                <input type="text" id="emailOrName" ng-model="vm.searchValue"/>
            </fieldset>
            <input type="submit" value="{{'button.search'|message}}"/>
        </form>
        <table>
            <caption ng-if="!vm.items">
                {{'error.noMatchesForUser' | message}}
            </caption>
            <thead>
                <tr>
                    <th>{{'label.name' | message}}</th>
                    <th>{{'label.username' | message}}</th>
                    <th>{{'label.email' | message}}</th>
                    <th>{{'label.actions' | message}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in vm.items">
                    <td>{{user.firstName}} {{user.lastName}}</th>
                    <td>{{user.username}}</th>
                    <td>{{user.email}}</th>
                    <td>
                        <a ng-click="vm.editUser(user.id)">{{'link.edit' | message}}</a>
                        <a ng-click="vm.resetUserPassword(user.id)">{{'link.resetPassword' | message}}</a>
                    </th>
                </tr>
            </tbody>
        </table>
    </section>
</div>
