@import 'bourbon';

body>header>:first-child {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid $light-cyan;
  color: $dark-gray;
  min-height: 66px;
  position: relative;
  z-index: 3;
  @include linear-gradient(to top, $light-gray 0%, lighten($light-gray, 40%) 80%, $white 100%);
}
.logo {
  padding: 8px 0 0;
  img {
    float: left;
    margin: 0 0 0 10px;
  }
  h1 {
    float: left;
    font-size: 2em;
    font-weight: normal;
    font-family: 'HelveticaNeue-CondensedBold', Arial, sans-serif;
    line-height: 29px;
    margin: 10px 0 0 10px;
    color: $gray;
    text-shadow: 0 1px 0 $white;
    border-color: transparent;
  }
}

@media screen and (max-width: 960px){
  .logo {
    h1{
      width: 75%;
    }
  }
}

@media screen and (max-width: 840px){
  .logo {
    h1{
      width: 50%;
    }
  }
}

/*
Content style

This is content style used in OpenLMIS.

markup:
<div class="logo clearfix">
  <h1>OpenLMIS</h1>
</div>
<div class="content">
  <h2>Content style title</h2>
  <p>This is a sample paragraph</p>
  <ul>
    <li>List item</li>
    <li>Another list item</li>
  </ul>
</div>

Styleguide 1.1
*/

h1, h2 {
  margin-top: 0;
  border-bottom: 1px solid $light-gray;
  font-weight: normal;
  color: $heading-green;
  line-height: 40px;
}

h2 {
  font-size: 1.4em;
}

h1 {
  font-size: 1.6em;
}

/*
Links

This is an example of links style in OpenLMIS.

markup:
<div class="user-info">
  <span>Logged is as</span>
  <strong>admin</strong>
  <a href="">
    <span>Profile</span>
  </a>
  |
  <a href="">Logout</a>
</div>


Styleguide 1.4
*/

.user-info {
  text-align: right;
  padding: 24px 12px 0 0;
  font-size: 0.9em;
  text-shadow: 0 1px 0 $white;
  a {
    text-decoration: underline;
  }
}