
.home-page{
  @extend .page-hero;
  padding-bottom: 4em;
  &::after{
    content:"";
    width: 100%;
    height: $image-height;
    position: absolute;
    bottom: 0.5em;
    left: 0em;
    background: url(dashboard/home-background.png) no-repeat right bottom;
  }
}