.loading-modal {
	.modal-dialog{
    width: auto;
  }

  .modal-content{
    position: relative;
    padding-left: 30px + $space-size*2; // 30px is width of loading-modal.gif
    padding-right: $space-size;
    background-image: url('dashboard/loading-modal.gif');
    background-repeat: no-repeat;
    background-position: $space-size center;
  }
}
