.loading-modal {
	.modal-body{
		padding: 0px;
	}
	.modal-content {
	  border-style: none
	}
}

.loading-modal ~ .modal-backdrop {
  background-color: white;
}

.loading-modal ~ .modal-backdrop.in {
  background-color: white;
  opacity: 0.6;

}

.modal.fade .modal-dialog
{
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;

    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
}

img[src="/public/images/loader.gif"] {
  position: fixed;
  background: white;
  padding: 3px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border:1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #aaa;
}