@import "bourbon";

/*
Navigation

Navigation in OpenLMIS

Styleguide 2.0
*/

/*
Header navigation bar

Navigation bar in OpenLMIS can include links, lists of links called submenu and headings providing description for these items.

markup:
<header style="height: 240px;">
  <nav>
    <ul>
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="">Requisition</a>
        <div class="submenu">
          <ul>
            <li>
              <a href="">Create / Authorize</a>
            </li>
            <li>
              <a href="">Approve</a>
            </li>
            <li>
              <a href="">Convert to Order</a>
            </li>
            <li>
              <a href="">View</a>
            </li>
            <li class="beak"></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="">Administration</a>
        <div class="submenu">
          <ul>
            <li>
              <a href="">Upload</a>
            </li>
            <li>
              <a href="">Configure</a>
	        <div class="submenu">
	          <ul>
		    <li>
		      <a href="">R & R Template</a>
		    </li>
                    <li>
		      <a href="">Regimen Template</a>
		    </li>
                    <li>
		      <a href="">Program Product ISA</a>
		    </li>
		    <li>
		      <a href="">System Setings</a>
		    </li>
		    <li>
		      <a href="">Other Setings</a>
		    </li>
		    <li class="beak"></li>
		  </ul>
	      </div>
            </li>
            <li class="beak"></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</form>

Styleguide 2.1
*/

header > .navbar {
  @include clearfix();
  @extend .navbar-default;

  @include linear-gradient(to bottom, $heading-green 0%, $dark-heading-green 100%);
  margin-bottom: 0px;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.4);
  border-width: 0px;
  border-radius: 0px;

  padding: 0em 1em;


  /*  GENERAL NAVIGATION STYLE  */
  a{
    color: $white;
    text-decoration: none;
    cursor: pointer;
    &:hover{
      color: darken($white, 15%);
    }
  }

  ul {
    @extend .list-unstyled;
  }
  li {
    position: relative;
  }

  .navbar-right{
    margin-right: 0px;
  }

  > .navbar-links{
    @extend .navbar-text;
    margin-bottom: 0px;
    color: darken($white, 15%);

    a.selected{
      color: darken($white, 15%);
    }

    li{
      display: block;
      float: left;
    }

    > li::after{
      content: "|";
      padding-right: 0.25em;
    }
    > li:last-child::after{
      content: "";
      padding: 0em;
    }

  }

  /* TOP LEVEL ITEMS */
  > .navbar-nav {

    a{
      display: block;
      text-decoration: none;
      padding: 0.5em 1em;
      &:hover{
        text-decoration: none;
        color: $cyan;
      }
    }

    > li {
      > a {
        color: $white;
        font-weight: bold;
        text-decoration: none;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
        padding: 7px 14px;
        margin: 7px;
      }
      &.open > a,
      &.open > a:hover,
      > a:hover {
        color: $white;
        background-color: $dark-cyan;
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
      }
    }
  }

  .dropdown-menu {
    top: 90%;
    @include linear-gradient(to bottom, $white 10%, $light-gray 100%);
    /* Arrow up */
    &::before{
      content: "";
      position:absolute;
      top: -5px;
      left: 30px;
      width: 0px; 
      height: 0px; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid $white;
    }

    a {
      color: $text-color;

      &:hover{
        color: $brand-primary;
        background-color: transparent;
      }
    }
  }
  /* SECOND LEVEL DROPDOWN */

}
