<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~  
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
  -->

<div class="page profile">
	<div>
		<h2 openlmis-message="label.basicInformation"></h2>
		<form class="form-filter">
	        <div class="form-group">
	            <label for="firstName" openlmis-message="create.user.firstName"></label>
	            <div class="form-field">
	                <input ng-model="userProfile.firstName" name="firstName" id="firstName" type="text">
	            </div>
	        </div>
            <div class="form-group">
                <label for="lastName" openlmis-message="create.user.lastName"></label>
                <div class="form-field">
                    <input ng-model="userProfile.lastName" name="lastName" id="lastName" type="text">
                </div>
            </div>
            <div class="form-group">
                <div class="form-cell">
                    <label for="email" openlmis-message="create.user.email"></label>
                    <div class="form-field">
                        <input ng-model="userProfile.email" name="email" id="email" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input id="saveButton" ng-click="updateProfile()"
	                class="btn btn-primary" ng-disabled="!userProfile"
	                openlmis-message="button.save" type="button"/>
            </div>
	    </form>
	</div>
	<div ng-if="displayRoles()">
		<h2 openlmis-message="label.roles"></h2>
		<table>
			<thead>
				<tr>
					<th openlmis-message="program.header"></th>
					<th openlmis-message="label.supervisory.node"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in userProfile.roleAssignments">
					<td>{{item.programCode}}</td>
					<td>{{item.supervisoryNodeCode}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="error-message" ng-if="errorMessage()" openlmis-message="{{errorMessage()}}"></div>
</div>