<div class="openlmis-sort navbar-nav">
    <p>{{'openlmisSort.sortedBy' | message}}</p>
    <button bs-dropdown aria-haspopup="true" aria-expanded="false">
        {{ctrl.getCurrentSortDisplay() | message}}
    </button>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="(display, option) in ctrl.options">
            <a ng-click="ctrl.changeSort(option)"
                ng-class="{'selected': (ctrl.sort === option)}">
                {{display | message}}
            </a>
        </li>
    </ul>
</div>
