<div class="openlmis-sort navbar-nav">
    <p>{{'openlmisSort.sortedBy' | message}}</p>
    <button bs-dropdown aria-haspopup="true" aria-expanded="false">
        {{sort.getCurrentSortDisplay() | message}}
    </button>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="option in sort.options">
            <a ng-click="sort.changeSort(option)"
                ng-class="{'selected':(sort.sort === option.value)}">
                {{option.display | message}}
            </a>
        </li>
    </ul>
</div>
