<form name="convertForm" ng-submit="convertRnr()">
    <div class="form-group">
      <label for="searchWarehouses">{{'label.filter.warehouses' | message}}</label>
      <input id="searchWarehouses" type="text" ng-model="searchText"/>
    </div>
    <fieldset class="form-group depots">
        <legend>{{'requisition.converttoorder.pickdepot' | message}}</legend>
        <label ng-repeat="depot in requisitionWithDepots.supplyingDepots |
               filter:searchText"
               class="radio" >
            <input type="radio" name="radioBtn" ng-value="depot.id"
                   ng-model="requisition.supplyingFacility"/>
            {{depot.name}}
        </label>
    </fieldset>
    <button class="convert-rnr" type="submit" ng-click="close()">
        {{'button.convert.to.order' | message}}</button>
</form>
