<form name="convertForm" ng-submit="convertRnr()">
    <label for="searchWarehouses">{{'label.filter.warehouses' | message}}</label>
    <input id="searchWarehouses" type="text" ng-model="searchText"/>
    <div class="form-group depots">
        <label for="radioBtn" ng-repeat="depot in requisitionWithDepots.supplyingDepots |
               filter:searchText"
               class="radio" >
            <input id="radioBtn" type="radio" name="radioBtn" ng-value="depot.id"
                   ng-model="requisition.supplyingFacility"/>
            {{depot.name}}
        </label>
    </div>
    <button class="convert-rnr" type="submit" ng-click="close()">
        {{'button.convert.to.order' | message}}</button>
</form>
