<form ng-submit="vm.addProduct()">
	<div class="form-group">
		<label for="category">{{'label.product.category' | message}}</label>
		<select class="form-control"
			ng-model="vm.selectedCategory"
			ng-disabled="!vm.categories.length"
			ng-options="category.name for category in vm.categories | filter:vm.categoryVisible"
			required>
		</select>
	</div>
	<div class="form-group">
		<label for="product">{{'label.productName' | message}}</label>
		<select class="form-control"
			ng-model="vm.selectedProduct"
			ng-disabled="!vm.selectedCategory"
			ng-options="product.name for product in vm.selectedCategory.products | filter:vm.productVisible"
			required>
		</select>
	</div>
	<div class="form-group">
		<label for="requestedQuantity">{{'placeholder.quantity' | message}}</label>
		<input class="form-control" ng-model="vm.requestedQuantity" required positive-integer>
	</div>
	<div class="form-group">
		<label for="requestedQuantity">{{'placeholder.explanation' | message}}</label>
		<input type="text"
			ng-model="vm.requestedQuantityExplanation"
			ng-required="vm.requestedQuantity">
	</div>
	<div class="button-group">
		<input type="submit" value="{{'button.add' | message}}" />
		<button type="button" data-dismiss="modal" class="cancel">{{'button.cancel' | message}}</button>
	</div>
</form>
