<div class="product-grid">
	<table table-pinned-columns>
		<thead>
			<tr>
				<th class="col-{{column.name}}" ng-repeat="column in vm.columns | orderBy : 'displayOrder'" ng-class="{pinned: !column.canChangeOrder}">{{column.label}}</th>
				<th ng-if="vm.displayDeleteColumn()"></th>
			</tr>
		</thead>
		<tbody ng-repeat="(category, lineItems) in vm.getLineItems() | groupBy:'$program.productCategoryDisplayName'">
			<tr>
				<td class="productCategory pinned" colspan="3">{{category}}</td>
				<td ng-repeat="column in vm.columns | limitTo:vm.columns.length - 3" class="productCategory"></td>
			</tr>
			<tr ng-class="{'invalid-row': !vm.isLineItemValid(lineItem)}" ng-repeat="lineItem in lineItems | orderBy : 'orderableProduct.name'">
				<td ng-repeat="column in vm.columns | orderBy : 'displayOrder'"
					product-grid-cell requisition="vm.requisition" column="column" line-item="lineItem"></td>
				<td ng-if="vm.displayDeleteColumn()">
					<button class="hide-line-item" ng-click="vm.deleteLineItem(lineItem)" ng-if="lineItem.$deletable">
						<i class="fa fa-remove"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>

	<button class="add-product" ng-if="vm.displayAddProductButton" ng-click="vm.addProduct()">
			{{'button.add' | message}}
	</button>
</div>
