
/*
Forms

Base form elements which are used in OpenLMIS are presented below.

markup:
<form>
	<legend>Example form elements</legend>
	<label for="exampleTextInput" style="font-size:18px">Example text input elements</label>
	<div id="exampleTextInput">
		<p>Text input: <input type="text"/></p>
	</div>
	<label for="exampleCombobox" style="font-size:18px">Example combo box element</label>
	<div id="exampleCombobox">
		<select style="border-radius: 3px !important;">
			<option value="1">--Select Option--</option>
			<option value="0">EPI</option><option value="1">ART</option>
			<option value="2">Essential Medicines</option>
			<option value="3">Family Planning</option>
			<option value="4">Malaria</option>
		</select>
	</div>
	<label for="exampleCheckBox" style="font-size:18px">Example check box elements</label>
	<div id="exampleCheckBox">
		<p><input type="checkbox" value="0"/> Option 1</p>
		<p><input type="checkbox" value="1"/> Option 2</p>
	</div>
	<label for="radioInput" style="margin-top:10px;font-size:18px">Example radio elements</label>
	<div id="radioInput">
		<p><input type="radio" name="radioExample" value="0"/> Option 1</p>
		<p><input type="radio" name="radioExample" value="1"/> Option 2</p>
	</div>
</form>

Styleguide 3.0
*/

.form-filter{
	display: flex;
	.form-group{
		flex: 0 0 auto;
		margin-left: 1em;
		&:first-child{
			margin-left: 0em;
		}
	}
	label, legend{
		display: block;
		float: none;
		font-weight: bold;
		font-size: $font-size-small;
		line-height: 1em;
		border-width: 0px;
		padding: 0.25em;
		margin: 0.25em 0em;
	}
	label.checkbox,
	label.radio{
		font-weight: normal;
		line-height: 1em;
		font-size: $font-size-base;
		padding-left: 25px;
		margin-left: 0px;
		input[type="checkbox"],
		input[type="radio"]{
			display: block;
			margin: 0px;
			top: 0.25em;
			left: 0.25em;
		}
		&::after{
			@include clearfix();
		}
	}
	input[type="text"],
	select {
		@extend .form-control;
	}
}