/*
 * This program is part of the OpenLMIS logistics management information system platform software.
 * Copyright © 2013 VillageReach
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *  
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
 * You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info$OpenLMIS.org. 
 */

@mixin second-title {
  position: relative;
  padding: 16px 0;
  margin: 20px 0;
  border-top: 1px solid $medium-gray;
}

@mixin titles-with-center-line {
  @include second-title;
  > h3, h4 {
    display: inline-block;
    position: absolute;
    padding: 0 10px;
    margin-left: 10px;
    background: $white;
    left: 10px;
    font-size: 1.2em;
    color: $heading-green;
    &:before{
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
      right: 0.5em;
      margin-left: -50%;
    }
  }
  h3 {
    top: -29px;
    font-weight: bold;
  }
  h4 {
    top: -20px;
  }
}