.bad, td.bad{
  color: $red;
  font-weight: bold;
  background-color: $light-red;
  width: 100%;
}

.warn, td.warn{
  background-color: $light-yellow;
  color: $blue;
  font-weight: bold;
  width: 100%;
}

.good, td.good{
  color: $green;
  background-color: $light-green;
  font-weight: bold;
  width: 100%;
}