
html {
  height: 100%;
}

body{
	display: flex;
	flex-direction: column;
	> *{
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		> *{
			flex: 1 0 auto;
		}
	}
	> header,
	> footer {
		flex: 0 0 auto;
	}
}

.page {
  flex-grow: 0;
  margin: 0.9em 0.9em 0;
  box-shadow: 0 0 0.5em rgba($black, 0.6);
  outline: 0.1em solid $light-gray;
  outline-offset: -0.5em;
  background: $white;
  padding: 1em 1.5em 2.8em;
}