.notification {
    @extend .alert;
	width: 350px;
	min-height: 80px;
	display: flex;
	align-items: center;
    -webkit-animation: fade-in 500ms;
}

.notification-container {
	position: fixed;
	right: 0px;
	z-index: 15;
	padding: 2em;
}

.notification .glyphicon {
	margin-right: 0.5em;
	font-size: x-large;
}