.toolbar {
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 15;

	> button {
		@extend .btn;
		margin: 0.7em 0.3em;

		:first-child {
			margin-left: 0.7em;
		}

		:last-child {
			margin-right: 0.7em;
		}
	}
}