//Colors
$heading-green: #0d8d98;
$dark-heading-green: #0d6369;
$light-cyan: #d3ebeb;
$cyan: #45a7ad;
$dark-cyan: #19565a;

$green: #356b6f;
$light-green: #dff0d8;

$red: #a94442;
$light-red: #f2dede;
$border-color-red: #ebccd1;

$yellow: #dac73b;
$light-yellow: #FFFFD3;

$blue: #249BD3;
$light-blue: #d3e9f0;

$orange: #ce8726;
$dark-orange: #b38907;

$white: #ffffff;
$very-light-gray: #f8f8f8;
$light-gray: #dddddd;
$medium-gray: #bbbbbb;
$gray: #666666;
$dark-gray: #333333;
$black: #000000;
