.openlmis-cron-selection {
    display: flex;
    align-items: center;

    &>* {
        @include margin-right(0.5em);
    }

    .input-control>input {
        width: 2em;
        @include text-align(right);
    }
}