<div class="openlmis-cron-selection" ng-show="!isComplex">

    <div openlmis-invalid>
        <select id="occurrence"
        ng-model="occurrence"
            ng-options="option as (option | message) for option in occurrences"
            ng-required="!ngDisabled && ngRequired && !isComplex"
            ng-disabled="ngDisabled"></select>
    </div>

    <div ng-show="isWeekly(occurrence, occurrences)">{{'openlmisCronSelection.on' | message}}</div>

    <div openlmis-invalid
        ng-show="isWeekly(occurrence, occurrences)">

        <select
            id="weekday"
            ng-model="weekday"
            ng-options="option as (option | message) for option in weekdays"
            ng-required="!ngDisabled && ngRequired && !isComplex && isWeekly(occurrence, occurrences)"
            ng-disabled="ngDisabled"
            ></select>
    </div>

    <div>{{'openlmisCronSelection.at' | message}}</div>

    <div class="input-control"
        openlmis-invalid="{{validateHour(hour, isComplex, ngDisabled) | message}}"
        input-control>

        <input id="hour"
            type="text"
            positive-integer
            ng-model="hour"
            ng-required="!ngDisabled && ngRequired && !isComplex"
            ng-disabled="ngDisabled"/>
    </div>

    <div>:</div>

    <div class="input-control"
        openlmis-invalid="{{validateMinute(minute, isComplex, ngDisabled) | message}}"
        input-control>

        <input id="minute"
            type="text"
            positive-integer
            ng-model="minute"
            ng-required="!ngDisabled && ngRequired && !isComplex"
            ng-disabled="ngDisabled"/>
    </div>
</div>

<div class="input-control"
    ng-show="isComplex"
    input-control
    openlmis-invalid="{{validateCronExpression(cronExpression, isComplex, ngDisabled) | message}}">

    <input id="cronExpression"
        type="text"
        ng-model="cronExpression"
        ng-disabled="ngDisabled"
        ng-required="!ngDisabled && ngRequired && isComplex"/>
</div>