.convert-to-order-list {

	.page {

		overflow: hidden;

		& > h2,
		.info-message {
			width: 100%;
		}

		& > * {
			float: left;
			margin-bottom: 10px;
		}

		.filters {
			width: 25%;
			float: right;

			.filter-by {
				width: auto;
			}

			button.search {
				@include button-color($green);
			}
		}

		.info-message {
			@extend .alert;
			@extend .is-info;
		}

		table {
			@extend .table;
			@extend .table-bordered;

			thead > tr {
				@extend .gradient-header;

				& > th {
					min-width: 0 !important;
				}
			}

			th, td {
				vertical-align: middle !important;
			}
		}
	}

	button.convert-to-order {
		@include button-color($green);
		float: right;
	}

}