<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~  
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
  -->
<div class="login-container">
    <div class="modal-login-header">
        <h1>{{'label.app.header' | message}}</h1>
        <openlmis-locale class="locale-container"/>
    </div>

    <div class="login-form">
        <h2 id="signInLabel">{{'label.sign.in' | message}}</h2>

        <form ng-controller="LoginController as vm">
            <div id="loginError" class="alert is-error" ng-if="vm.loginError">{{vm.loginError | message}}</div>
            <fieldset>
                <div class="form-group">
                    <label for="login-username">{{'label.username' | message}}</label>
                    <input ng-model="vm.username" type="text" id="login-username" required autofocus/>
                </div>
                <div class="form-group">
                    <label for="login-password">{{'label.password' | message}}</label>
                    <input ng-model="vm.password" type="password" id="login-password" required/>
                </div>
                <div class="button-group">
                    <button class="primary" ng-click="vm.doLogin()" ng-disabled="vm.disableSignInButton">{{'button.sign.in' | message}}</button>
                    <a id="forgotPasswordLink" ng-click="vm.goToForgotPassword()">{{'link.forgot.password' | message}}</a>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="powered-by">
        <a href="http://openlmis.org" target="_blank">{{'powered.by' | message:({openlmis:'OpenLMIS'})}}</a>
    </div>
</div>
