
.login-container {
  background-image: linear-gradient(to bottom, $white 0%, $white 48%, $light-gray 100%);
  border-radius: $border-radius;

  .powered-by {
    text-align: right;
    padding: 0px 1em;
    color: $gray;
  }
}

.login-form {
  background-image: url("common/openlmis-logo-stacked.svg");
  background-size: 40% auto;
  background-position: 2em 45%;
  background-repeat: no-repeat;
  padding: 1em;
  padding-left: 50%;

  & > form > fieldset,
  & > .form-desc {
    width: 100%;
  }
  & > form > .alert {
    flex: initial;
  }
}

.modal-login-header {
  @include clearfix();
  border-bottom: 1px solid $light-gray;
  background-image: linear-gradient(to bottom, $white 30%, $light-gray 100%);
  padding: 0.5em 1em;
  display: flex;
  align-items: baseline;
  > *{
    flex: 0 0 auto;
  }

  > h1 {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0px;
  }
}

.login-modal .modal-content {
    position: absolute;
    width: 50em;
    top: 50%;
    transform: translateY(-50%);
}

.login-modal .modal-body {
    padding: 0em !important;
}

.login-modal .login-container {
    border-radius: $border-radius;
    border: 1px solid $white;
}
