
.openlmis-table-container {
  .ps-scrollbar-x {
    z-index: 5;
    height: 10px !important;
    background-color: #333 !important;
  }

  .ps-scrollbar-x-rail, .ps-scrollbar-x-rail:not(hover) {
    bottom: calc(var(--bottom-offset) * 1px) !important;
    background-color: darken($light-gray, 5) !important;
    height: 14px !important;
    opacity: 1.0 !important;
    z-index: 10;
    border-radius: unset;
  }
}

// default bottom-offset
html {
  --bottom-offset: 0;
}
