$custom-scroll-br: 10px;
$custom-scroll-height: 12px;
$custom-scroll-color: #333;
$custom-scroll-track-bg: #d7d7d7;

.openlmis-table-container {
  ::-webkit-scrollbar {
    height: $custom-scroll-height;
  }

  ::-webkit-scrollbar-track {
    background-color: $custom-scroll-track-bg;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: $custom-scroll-br;
    background: #333;
  }
}

html {
  --bottom-offset: 0;
}
