/*
Table Captions

Table captions should be used to describe the state of the table. The caption
element is a simple way to add a message to table in an accessiable way. Captions
also allow for flexiable styling as they are simple to reposition.

*There should only be one caption on a table at a time.*

In the OpenLMIS-UI, there are two types of captions that can be applied to a table,
blocking messages and informational messages.

Informational messages should be shown at the top of the table, and stay pinned
above the table headers. Informational messages would be anything to do with a
table's state when there is information displayed in the table. This could
include:
* The number of rows in the table
* The sort order of the table (but this should be displayed with table-sort-order)
* If the table is being altered by a state beyond the user's control. _When the
table is being modified by a form, the form should be linked by an
`aria-described-by` attribute._

<h3>An empty table</h3>
<div class="openlmis-table-container">
  <form>
    <label>Search</label>
    <input type="text" />
    <input type="submit" value="Search" />
  </form>
  <table class="openlmis-table">
    <caption>To view results, search for items.</caption>
    <thead>
      <tr>
        <th>Fully Supply</th>
        <th>Code</th>
        <th>Name</th>
        <th>Strength</th>
        <th>Unit of measure</th>
      </tr>
    </thead>
    <!-- This is an empty table -->
  </table>
</div>

### Blocking Captions

Blocking captions are only shown if there are no results that are available in
the table. In this case we only want to show the header of the table and an
informational message so a user will understand the content they would have
gotten if there was a result.

Blocking messages should be shown if:
* A user has not entered any search terms
* A search query returned no results
* An error stopped data from being loaded.

<h3>A table with an error</h3>
<div class="openlmis-table-container">
  <form>
    <label>Search</label>
    <input type="text" />
    <input type="submit" value="Search" />
  </form>
  <table class="openlmis-table">
    <caption class="error">There was an error. Contact the administrator.</caption>
    <thead>
      <tr>
        <th>Fully Supply</th>
        <th>Code</th>
        <th>Name</th>
        <th>Strength</th>
        <th>Unit of measure</th>
      </tr>
    </thead>
    <!-- This is an empty table -->
  </table>
</div>

Styleguide 4.2
*/


.openlmis-table {
  caption-side: bottom;
}

.openlmis-table > caption{
  @extend .alert;
  display: table-caption;
  margin: 1em 0em;
  @include text-align(left);

  &.error {
    @extend .alert.is-error;
    display: table-caption;
  }
}
