/*
Sticky Columns

Tables can have sticky columns to keep important elements within view.

<div class="openlmis-table-container">
<table ng-init="rows=[1,2,3,4,5,6];" >
  <thead>
    <tr>
      <th class="sticky">Checkbox</th>
      <th>Code</th>
      <th class="sticky">Name</th>
      <th>Date range</th>
      <th>Duration</th>
      <th class="sticky">Actions</th>
    </tr>
  </thead>
  <tbody title="Group 1">
    <tr ng-repeat="row in rows">
      <td class="sticky"><input type="checkbox" /></td>
      <td>1f3c89b213e44a729ef2228302cc5a25</td>
      <td class="sticky">Name</td>
      <td>1f3c89b213e44a729ef2228302cc5a25</td>
      <td>1f3c89b213e44a729ef2228302cc5a25</td>
      <td class="sticky"><button>Action</button>
    </tr>
  </tbody>
  <tbody title="Group 2">
    <tr ng-repeat="row in rows">
      <td class="sticky"><input type="checkbox" /></td>
      <td>1f3c89b213e44a729ef2228302cc5a25</td>
      <td class="sticky">Name</td>
      <td>1f3c89b213e44a729ef2228302cc5a25</td>
      <td>1f3c89b213e44a729ef2228302cc5a25</td>
      <td class="sticky"><button>Action</button>
    </tr>
  </tbody>
</table>
</div>

Styleguide 4.4
*/



td,
th,
tr.title > td > div  {
	&.sticky{ }
	&.stuck{
    position: relative;
  	z-index: 1;
  }
  &.stuck:after{
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    z-index: -1;
    width: $space-size/4;
    height: 100%;
    background: transparent;
    
  }
  &.stuck-left:after{
    right: $space-size/4 * -1;
    background-image: linear-gradient(to right, $light-gray, transparent);
  }
  &.stuck-right:after{
    left: $space-size/4 * -1;
    background-image: linear-gradient(to left, $light-gray, transparent);
  }
}
