$table-border-color: $border-color !default;
$table-border-width: 1px !default;
$table-cell-padding: $space-size/2 !default;

$table-row-background-color: $background-color !default;
$table-row-background-color-secondary: $background-color-alt !default;
$table-row-background-color-error: $background-color-danger !default;
$table-row-background-color-focus: $background-color-focus !default;

$table-header-color: $white !default;
$table-header-background-color: $background-color-dark !default;

// Border logic
.openlmis-table {
    border: $table-border-color $table-border-width solid;

    td, th {
        border-top: $table-border-color $table-border-width solid;
        border-left: $table-border-color $table-border-width solid;

        &:first-child {
            border-left-width: 0px;
        }
    }

    tr:first-child > td {
        border-top-width: 0px;
    }
}

.openlmis-table td,
.openlmis-table th {
    position: relative;
    vertical-align: middle;
    padding: $table-cell-padding;


    .collapsable {
        width: $sidebar-width;
        white-space: normal;
    }

    button {
    display: inline-block;
    }
}

@mixin table-row($bg, $bg-highlight) {
    > * {
        background: $bg;
    }

    &:hover > *,
    &.is-highlighted > * {
    background: $bg-highlight;
    }
}

.openlmis-table tr {
    @include table-row(
        $table-row-background-color, 
        $table-row-background-color-focus
    );
}

.openlmis-table tr.is-secondary,
.openlmis-table tr.is-disabled {
    @include table-row(
        $table-row-background-color-secondary,
        $table-row-background-color-secondary
    );
}

.openlmis-table tr.is-child {
    > td {
        border-top-width: 0px;
    }
}

.openlmis-table thead > tr,
.openlmis-table tfoot > tr {
    @include table-row(
        $table-header-background-color,
        $table-header-background-color
    );

    color: $table-header-color;
    a {
        color: $table-header-color;
    }
}

.openlmis-table thead > tr:last-child > *{
    background-image: linear-gradient(
        to bottom,
        $table-header-background-color,
        darken($table-header-background-color, 15%)
    );
}
