.requisition-template-admin {

	.page {
		overflow: hidden;

		.info-box {
			display: inline-flex;
			width: 100%;
			height: 4em;
			align-items: center;
			padding: 0.5em;

			* {
				margin: 0.3em
			}

			:first-child {
				font-weight: bold;
			}
		}

		table {
			.moveable {
				cursor: move;
			}

			.dndPlaceholder > td {
				background-color: $light-shadow;
				height: 3em;
			}

			.pinned > td {
				background-color: $gray;
			}

			.error {
				color: $red;
			}

			.dndDraggingSource {
			  	display: none;
			}

			.invalid {
				background-color: lighten($red, 50%);
	            border-color: $red;
			}
		}

		.circle {
			width: 2.4em;
			height: 2.4em;
			background: $white;
			border-radius: 50%;
			border-width: thin;
			border-color: $light-gray;
			border-style: solid;
			display: flex;
			justify-content: center;
			align-items: center;

			.inner-circle {
				width: 1.7em;
				height: 1.7em;
				background: $red;
				border-radius: 50%;
				color: $white;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}
