$image-height: 136px;

.home-page{
  @extend .page-hero;
  padding-bottom: 4em;
  &::after{
    content:"";
    width: 100%;
    height: $image-height;
    position: absolute;
    bottom: 0.5em;
    left: 0em;
    background: url(openlmis-home/home-background.png) no-repeat right bottom;
  }
}

.home-page > h2{
  white-space: pre-line;
}
