.product-grid {
	overflow: auto;

	.skip {
		margin: 0 auto;
		display: table;
	}

	.skipped-line-item {
		background: $light-gray;
	}

	button {
		@extend .btn;
	}

	button.add-product {
		@include button-color($green);
		float: right;
	}

	button.hide-line-item {
		@include button-color($red);
	}
}
