.product-grid {
	overflow: auto;
	position: relative;

	.skip {
		margin: 0 auto;
		display: table;
	}

	.skipped-line-item {
		background: $light-gray;
	}

	button {
		@extend .btn;
	}

	button.add-product {
		@include button-color($green);
		float: right;
	}

	button.hide-line-item {
		@include button-color($red);
	}

    table tr > th.has-popover{
      position:relative;
      padding-right: 1.5em;
      .show-popover{
        position:absolute;
        top: 1.25em;
        right: 0.25em;
      }
    }
}

.cell-error-message {
	color: $red;
}
