<form name="convertForm">
    <label for="filter">{{'create.user.select.warehouse' | message}}</label>
    <div class="form-group">
        <input class="filter" ng-change="filterFacilities()" type="text"
            ng-model="query" placeholder="Filter warehouses"/>
    </div>
    <div class="form-group facilities">
        <label ng-repeat="facility in facilities" class="radio">
            <input type="radio" name="radioBtn" ng-model="facilities" ng-value="name"/>
            {{facility.name}}
        </label>
    </div>
    <button class="convert-rnr" ng-click="convertRnr()">
        {{'button.convert.to.order' | message}}</button>
</form>
