/*
Form Errors

There are two types of error messages in a form, input-level messages and
form-level messages.

Form-level messages are shown to the user immedately after the form submission
fails. This is done with an alert modal to explain the error to the user, then
return the user's focus to the form that needs correction. See the
form-server-validation directive for a pattern of how to display form-level
errors.

Input-level messages must be shown on every form control input that is invalid
and contains an error. Error messages related to an input must use the ARIA
described by label to make sure the error accessible.

The OpenLMIS-UI provides easy ways to display form-control error messages, by
either reading Angular's FormController or the error-span factory.

markup:
<form openlmis-invalid="This is an example form with errors">
	<label for="invalidExampleText">Example invalid input</label>
	<input id="invalidExampleText" type="text" ng-model="invalidExampleText" ng-maxlength="10" required />
</form>
<br /><br />
<form name="errorForm">
	<p ng-if="!errorForm.$submitted" class="alert">Error messages are shown after the form is submitted.</p>
	<label for="invalidExamplePermanent">Example invalid input</label>
	<input id="invalidExamplePermanent" ng-model="invalidExamplePermanent" type="text" openlmis-invalid="Persistant error message" />
	<label for="invalidExampleSelect">Example invalid select</label>
	<select id="invalidExampleSelect" ng-model="invalidExampleSelect" required></select>
	<fieldset class="form-group">
		<legend>Invalid radio buttons work like this</legend>
		<label class="radio">
			<input type="radio" name="invalidExampleRadio" ng-model="invalidExampleRadio"
				value="Yes"
				required />
			Yes
		</label>
		<label class="radio">
			<input type="radio" name="invalidExampleRadio" ng-model="invalidExampleRadio"
				value="No"
				required />
			No
		</label>
	</fieldset>
	<input type="submit" value="Validate Form" />
	<button ng-click="errorForm.$setPristine()">Reset Form</button>
</form>
<br /><br />
<form class="form-inline" openlmis-invalid="Inline form errors should look like this">
	<div class="form-group">
		<label for="inlineInvalidExample">Invalid inline input</label>
		<input id="inlineInvalidExample" ng-model="inlineErrorExample" type="text" required />
	</div>
	<div class="form-group">
		<label for="inlineInvalidSelect">Invalid inline select</label>
		<select id="inlineInvalidSelect" required ng-model="inlineErrorSelect"></select>
	</div>
	<input type="submit" value="Submit Inline Form" />
</form>

Styleguide 3.3
*/

.form-error {
	@extend .alert.is-error;
	position: relative;
	background-color: $brand-danger;
	color: $white;
	font-weight: bold;
	border-radius: $border-radius;
	padding: 1em;
	@include padding-left(4em);
}

form > .alert.is-error {
	@extend .form-error;
}

.input-error {
	@extend .alert.is-error;
	&::before {
		content: "";
	}
	background: transparent;
	position: relative;
	padding: 0em;
	@include padding-left(0.5em);
	@include border-left($brand-danger 0.25em solid);
	border-radius: 0px;
}

.unstyled-error {
	position: static;
	background: transparent;
	color: $text-color;
	font-weight: normal;
	padding: 0em;
	@include padding-left(0em);
	@include border-left(0px);
	border-radius: 0px;

	&::before {
		content: "";
	}
}

.openlmis-invalid {
	@extend .list-unstyled;
	> * {
		@extend .form-error;
	}
}

.input-control + .openlmis-invalid,
legend + .openlmis-invalid {
	> * {
		@extend .input-error;
	}
}

.form-inline,
form.form-inline {
	> .openlmis-invalid {
		min-width: 100%;
		>  * {
			@extend .input-error;
		}
	}
}

