.olmis-datepicker {
    position: relative;
}

.olmis-datepicker-icon {
    @include icon('calendar');
  	position: absolute;
  	padding: 10px;
  	pointer-events: none;
  	right: 0px;
}

.datepicker {
	button,
	.btn,
	.btn-default {
		background: transparent;
		border: 0px;
		font-size: $font-size;
		&:hover{
			background-color: $brand-primary;
			color: $white;
		}
	}
}

.glyphicon {
	@extend .fa;
	&.glyphicon-chevron-right {
		@extend .fa-chevron-right;
	}
	&.glyphicon-chevron-left {
		@extend .fa-chevron-left;
	}
}
