/*
Date Picker

User the openlmis-datepicker to show an input that allows the user to select a date.

markup:
<form>
	<label for="example-datepicker">Select with no selection</label>
	<input id="example-datepicker" type="date" ng-model="startDate"/>
</form>


Styleguide 3.5
*/

.openlmis-datepicker::after {
	content: "\f073";
	font: normal normal normal 14px/1 FontAwesome;
	display: block;
	height: 1em;
	width: 1em;
	position: absolute;
	top: 50%;
	right: 0.5em;
	transform: translateY(-50%);
}

.datepicker {
	.today:not(.active) {
		background-color: $light-shadow !important;
		&:hover {
			background-color: $light-gray !important;
		}
	}
	.clear {
		@extend .btn-primary;
		border: 0px;
		font-size: $font-size;
		&:hover {
			background-color: $brand-primary;
			color: $white;
		}
	}
}

.glyphicon {
	@extend .fa;
	&.glyphicon-chevron-right {
		@extend .fa-chevron-right;
	}
	&.glyphicon-chevron-left {
		@extend .fa-chevron-left;
	}
}
