
/*
Date Picker

User the openlmis-datepicker to show an input that allows the user to select a date.

markup:
<form>
	<label for="example-datepicker">Select with no selection</label>
    <openlmis-datepicker input-id="example-datepicker" value="startDate" />
</form>


Styleguide 3.5
*/

.olmis-datepicker {
    position: relative;
}

.olmis-datepicker-icon {
    @include icon('calendar');
  	position: absolute;
  	padding: 10px;
  	pointer-events: none;
  	right: 0px;
}

.datepicker {
	button,
	.btn,
	.btn-default {
		background: transparent;
		border: 0px;
		font-size: $font-size;
		&:hover{
			background-color: $brand-primary;
			color: $white;
		}
	}
}

.glyphicon {
	@extend .fa;
	&.glyphicon-chevron-right {
		@extend .fa-chevron-right;
	}
	&.glyphicon-chevron-left {
		@extend .fa-chevron-left;
	}
}
