@import "../common/icon.mixins";

.saving-indicator {

    text-align: right;

    .icon {
        margin: 0 1em;
    }

    .saved {
        @extend .icon !optional;
        @include icon('check-circle');
        color: $green;
    }

    .saving {
        @extend .icon !optional;
        @extend .loading !optional;
        font-size: 1em;
    }
}
