.popover.select-search-option {

    > h3 {
        display: none;
    }

    > .popover-content{
        padding: 0px;
        > * {
            padding: 0.5em;
        }
    }

    .select-options {
        overflow-y: auto; // max-height is set in markup
        legend{
            padding-right: 3em; // Spacing for close button...
        }
    }

    .select-search {
        background-color: $background-color-alt;
    }
}
