<form ng-show="options.length > PAGE_SIZE" class="select-search">
    <div>
        <label for="search">{{'openlmisForm.search' | message}}</label>
        <input id="search" type="text" ng-model="searchText" />
    </div>
    <p>{{'openlmisForm.showingNumberOfResults' | message: {'num': results.length, 'total': options.length} }}</p>
</form>
<ul class="select-options">
	<li ng-repeat="option in options | filter: {label: searchText} as results">
		<a ng-if="!option.selected" ng-click="select(option.value)" ng-class="{'selected':option.selected}">
			{{option.label}}
		</a>
		<a ng-if="option.selected" ng-click="select()" class="selected">
			{{option.label}} <span>{{ 'openlmisForm.clearSelection' | message}}</span>
		</a>
	</li>
</ul>
