<form ng-show="options.length > PAGE_SIZE" class="select-search">
    <div>
        <label for="search">{{'openlmisForm.search' | message}}</label>
        <input id="search" type="text" ng-model="searchText" />
    </div>
    <p>{{'openlmisForm.showingNumberOfResults' | message: {'num': results.length, 'total': options.length} }}</p>
</form>
<form class="select-options" style="max-height: {{PAGE_SIZE*2}}em;">
	<fieldset class="form-group">
		<legend>{{'openlmisForm.selectAnOption' | message }}</legend>
		<a ng-if="selectedValue" ng-click="select()">{{ 'openlmisForm.clearSelection' | message}}</a>
		<label class="radio" ng-repeat="option in options | filter: {label: searchText} as results">
			<input type="radio" ng-click="select(option.value)" ng-checked="option.selected" ng-value="option.value" />
			{{option.label}}
		</label>
	</fieldset>
</form>
