.adjustments-modal {
    dl {
        display: flex;
        margin-top: 1em;

        dt {
            &:after {
                font-weight: bold;
                content: ':'
            }
            @include margin-right(0.5em);
        }

        dd:not(:last-of-type) {
            @include margin-right(auto);
        }
    }

    form {
        max-width: 100%;
    }
}
