<div class="adjustments-modal modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>{{vm.title | message}}</h4>
            </div>
            <div class="modal-body">
                <p ng-if="vm.message">{{vm.message | message}}</p>
                <form class="form-inline" ng-if="!vm.isDisabled" ng-submit="vm.addAdjustment()" reload-form>
                    <div class="form-group">
                        <label for="reason">
                            {{'openlmisAdjustments.reason' | message}}
                        </label>
                        <select id="reason"
                            ng-model="vm.newAdjustment.reason"
                            ng-options="reason as reason.name for reason in vm.reasons | orderBy:'displayOrder'"
                            required>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="quantity">
                            {{'openlmisAdjustments.quantity' | message}}
                        </label>
                        <openlmis-quantity-unit-input 
                            show-in-doses="vm.showInDoses" 
                            item="vm.newAdjustment"
                            net-content="vm.lineItem.orderable.netContent"/>
                    </div>
                    
                    <button class="add" type="submit">
                        {{'openlmisAdjustments.add' | message}}
                    </button>
                </form>
                <form id="adjustmentsForm" ng-submit="vm.save()">
                        <div class="openlmis-table-container">
                        <table>
                            <caption class="adjustment-warning alert is-info"
                                 ng-show="vm.adjustments === null || vm.adjustments.length === 0">
                                    {{'openlmisAdjustments.noAdjustments' | message}}
                            </caption>
                            <thead>
                                <tr>
                                    <th>{{'openlmisAdjustments.reason' | message}}</th>
                                    <th>{{vm.showInDoses ? 'openlmisAdjustments.quantityInDoses' : 'openlmisAdjustments.quantityInPacks' | message}}</th>
                                    <th ng-if="!vm.isDisabled">{{'openlmisAdjustments.actions' | message}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="adjustment in vm.adjustments | orderBy:'':true">
                                    <td>{{adjustment.reason.name}}</td>
                                    <td>
                                        <div ng-if="vm.isDisabled">{{adjustment.quantity}}</div>
                                        <openlmis-quantity-unit-input 
                                            show-in-doses="vm.showInDoses" 
                                            item="adjustment"
                                            net-content="vm.lineItem.orderable.netContent"/>
                                    </td>
                                    <td ng-if="!vm.isDisabled">
                                        <input type="button" class="danger"
                                            ng-click="vm.removeAdjustment(adjustment)"
                                            ng-if="!vm.isDisabled"
                                            value="{{'openlmisAdjustments.remove' | message}}">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                <dl ng-if="vm.summaries">
                    <dt ng-repeat-start="(key, value) in vm.summaries">{{key | message}}</dt>
                    <dd ng-repeat-end>{{vm.summaries[key](vm.adjustments)}}</dd>
                </dl>
            </div>
            <div class="modal-footer" ng-if="!vm.isDisabled">
                <button class="btn btn-default" ng-click="vm.cancel()">
                    {{'openlmisAdjustments.cancel' | message}}
                </button>
                <button class="btn btn-primary" form="adjustmentsForm" type="submit">
                    {{'openlmisAdjustments.update' | message}}
                </button>
            </div>
            <div class="modal-footer" ng-if="vm.isDisabled">
                <button class="btn btn-default" ng-click="$hide()">
                    {{'openlmisAdjustments.close' | message}}
                </button>
            </div>
        </div>
    </div>
</div>
