body {
  background: $dark-gray;
}

.auth {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50em;
  margin-left: -24em;
  margin-top: -15.5em;
  box-shadow: 0 0 1em $dark-gray;
  border: 0.1em solid white;
  border-radius: 0.5em;
}
