<div class="page order-view">
    <h2>{{'header.viewOrders' | message}}</h2>
    <section class="openlmis-table-container">
        <form ng-submit="vm.loadOrders()" >
            <label for="supplyingFacility">{{'label.supplyingFacility' | message}}</label>
            <select id="supplyingFacility"
                    ng-model="vm.supplyingFacility"
                    ng-options="facility.name for facility in vm.supplyingFacilities"
                    required></select>
            <label for="requestingFacility">{{'label.requestingFacility' | message}}</label>
            <select id="requestestingFacility"
                    ng-model="vm.requestingFacility"
                    ng-options="facility.name for facility in vm.requestingFacilities"></select>
            <label>{{'label.program' | message}}</label>
            <select id="program"
                    ng-model="vm.program"
                    ng-options="program.name for program in vm.programs"></select>
            <input type="submit" class="btn btn-primary" value="{{'button.search' | message}}"/>
        </form>
        <table>
            <caption ng-if="!vm.items.length">{{'msg.noOrdersFound' | message}}</caption>
            <thead>
                <tr>
                    <th>{{'label.orderNumber' | message}}</th>
                    <th>{{'label.facility' | message}}</th>
                    <th>{{'label.district' | message}}</th>
                    <th>{{'label.program' | message}}</th>
                    <th>{{'label.period' | message}}</th>
                    <th>{{'label.startDate' | message}}</th>
                    <th>{{'label.endDate' | message}}</th>
                    <th>{{'label.status' | message}}</th>
                    <th>{{'label.emergency' | message}}</th>
                    <th class="sticky">{{'label.actions' | message}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in vm.items">
                    <td>{{order.orderCode}}</td>
                    <td>{{order.facility.code}} - {{order.facility.name}}</td>
                    <td>{{order.facility.geographicZone.name}}</td>
                    <td>{{order.program.name}}</td>
                    <td>{{order.processingPeriod.name}}</td>
                    <td>{{order.processingPeriod.startDate | date:'dd/MM/yyyy'}}</td>
                    <td>{{order.processingPeriod.endDate | date:'dd/MM/yyyy'}}</td>
                    <td>{{order.status}}</td>
                    <td class="col-emergency">
                        <i ng-class="{'icon-ok': order.emergency}"></i>
                    </td>
                    <td class="sticky">
                        <button class="print"
                            openlmis-download="{{vm.getPrintUrl(order)}}">
                            {{'order.print'|message}}
                        </button>
                        <button class="download"
                            openlmis-download="{{vm.getDownloadUrl(order)}}">
                            {{'order.download'|message}}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <openlmis-pagination ng-model="vm.stateParams.page"
                             ng-change="vm.changePage()"
                             total-items="vm.totalItems"
                             items="vm.pageItems.length"
                             page-size="vm.stateParams.size">
        </openlmis-pagination>
    </section>    
</div>
