<section>
    <header>
        <h3>{{'requisition.statusMessages.title' | message}}</h3>
        <a ng-show="vm.requisition.$statusMessages.length > 0" ng-click="vm.displayRequisitionHistory()">{{'label.viewHistory' | message}}</a>
        <button class="primary" ng-click="vm.addComment()" ng-if="vm.displayAddComment()">{{'button.addComment' | message}}</button>
    </header>
    <div class="alert" ng-if="!vm.requisition.$statusMessages.length && vm.displayAddComment()">
        {{'msg.noCommentsAdded' | message}}
    </div>
    <article class="status-message" ng-if="vm.requisition.$statusMessages.length">
        <header>
            <div class="status">{{vm.requisition.$statusMessages[0].status | requisitionStatus}}</div>
            <div class="date">
                {{vm.requisition.$statusMessages[0].authorFirstName}}
                {{vm.requisition.$statusMessages[0].authorLastName}}
                on
                {{vm.requisition.$statusMessages[0].createdDate | date: 'longDate'}}
            </div>
        </header>
        <div class="content">{{vm.requisition.$statusMessages[0].body}}</div>
    </article>
    <article ng-if="vm.displayEditComment()" class="status-message is-editable">
        <header>
            <label class="title" for="requisition-status-message-textarea">{{'requisition.addStatusMessage.label' | message}}</label>
            <button class="close" ng-click="vm.removeComment()">{{'button.removeComment' | message}}</button>
        </header>
        <div>
            <textarea id="requisition-status-message-textarea" ng-model="vm.requisition.draftStatusMessage" ></textarea>
        </div>
    </article>
</section>
