// Override default perfect scrollbars to make OpenLMIS style
// Defaults are here
// https://github.com/utatti/perfect-scrollbar/blob/0.8.1/src/css/variables.scss


$ps-border-radius: $border-radius;

$ps-rail-default-opacity: 1;
$ps-rail-container-hover-opacity: 1;
$ps-rail-hover-opacity: 1;

$ps-bar-bg: $border-color;
$ps-bar-container-hover-bg: $dark-gray;
$ps-bar-hover-bg: $dark-gray;
$ps-rail-hover-bg: $border-color;

// Sizes
$ps-scrollbar-x-rail-bottom: 0px;
$ps-scrollbar-x-rail-height: $space-size/2;
$ps-scrollbar-x-bottom: 0px;
$ps-scrollbar-x-height: $space-size/2;
$ps-scrollbar-x-hover-height: $space-size/2;

$ps-scrollbar-y-rail-right: 0;
$ps-scrollbar-y-rail-width: $space-size/2;
$ps-scrollbar-y-right: 0px;
$ps-scrollbar-y-width: $space-size/2;
$ps-scrollbar-y-hover-width: $space-size/2; 
