<div class="requisition-template-admin">
    <div class="page">
        <h2 openlmis-message="configure.rnr.header"></h2>
        <aside>
            <dl>
                <dt>{{'program.header' | message}}</dt>
                <dd>
                    {{vm.program.name}}
                    <a ng-click="vm.goToTemplateList()">{{'template.change' | message}}</a>
                </dd>
            </dl>
        </aside>

        <table>
            <thead>
                <tr>
                    <th>{{'template.header.display' | message}}</th>
                    <th></th>
					<th>{{'template.header.label' | message}}</th>
					<th>{{'template.header.source' | message}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody dnd-list="vm.template.columnsMap"
                dnd-drop="vm.dropCallback(event, index, item)">
                <tr ng-repeat="column in vm.template.columnsMap | orderObjectBy:'displayOrder'"
                    dnd-draggable="column"
                    dnd-disable-if="!column.columnDefinition.canChangeOrder"
                    dnd-effect-allowed="move"
                    ng-class="{pinned: !column.columnDefinition.canChangeOrder, moveable: column.columnDefinition.canChangeOrder}">
                    <dnd-nodrag>
                        <td>
                            <input type="checkbox" ng-model="column.isDisplayed" ng-disabled="column.columnDefinition.isDisplayRequired">
                        </td>
                        <td>
                            <div class="circle">
                                <div class="inner-circle">{{column.indicator}}</div>
                            </div>
                        </td>
                        <td>
                            <input disable-drag type="text" ng-model="column.label" class="form-control input-sm"/>
                        </td>
                        <td>
                            <div ng-if="!vm.canChangeSource(column.columnDefinition)">{{vm.sourceDisplayName(column.source)}}</div>
                            <div ng-if="vm.canChangeSource(column.columnDefinition)">
                                <select ng-model="column.source" ng-options="source as vm.sourceDisplayName(source) for source in column.columnDefinition.sources"></select>
                            </div>
                        </td>
                        <td>
                            <div ng-if="!column.$isValid(vm.template.columnsMap)" class="error">{{vm.errorMessage(column)}}</div>
                            <div ng-if="column.name == 'numberOfNewPatientsAdded'">
                                <select ng-model="column.option" ng-options="option as option.optionLabel for option in column.columnDefinition.options track by option.id"></select>
                            </div>
                        </td>
                    <dnd-nodrag>
                </tr>
                <tr class="dndPlaceholder">
                    <td></td><td></td><td></td><td></td><td></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<div id="action_buttons" class="action-buttons">
    <div class="form-cell button-row">
        <button id="saveButton" ng-click="vm.saveTemplate()"
            class="btn btn-primary save-button" ng-disabled="!vm.template.$isValid()">
            {{'button.save' | message}}
        </button>
        <button id="cancelButton" ng-click="vm.goToTemplateList()"
            class="btn btn-default save-button"
            openlmis-message="button.cancel" type="button">
            {{'button.cancel' | message}}
        </button>
    </div>
</div>
