<div class="openlmis-pagination">
	<div class="pagination-info" ng-if="pagination.totalItems">
		{{'openlmisPagination.showingItemsOutOf' | message: {'items': pagination.showingItems, 'total': pagination.totalItems} }}
	</div>
	<div class="pagination-info" ng-if="!pagination.totalItems">
		{{'openlmisPagination.showingNoItems' | message}}
	</div>
	<ul ng-if="pagination.totalItems">
		<li ng-class="{disabled : pagination.isFirstPage()}">
			<a ng-click="pagination.isFirstPage() || pagination.previousPage()">
				{{'openlmisPagination.previous' | message}}
			</a>
		</li>
		<li ng-class="{active: pagination.isCurrentPage(i), invalid: pagination.isPageValid && !pagination.isPageValid(i)}"
			ng-repeat="i in pagination.getPages()">
			<a ng-click="pagination.changePage(i)">
				{{i + 1}}
			</a>
		</li>
		<li class="active" ng-if="pagination.page > pagination.getTotalPages()">
			<a> {{pagination.page}} </a>
		</li>
		<li ng-class="{disabled : pagination.isLastPage()}">
			<a ng-click="pagination.isLastPage() || pagination.nextPage()">
				{{'openlmisPagination.next' | message}}
			</a>
		</li>
	</ul>
</div>
