<div class="openlmis-pagination">
	<div class="pagination-info" ng-if="pagination.totalItems">
		{{'msg.showingMatchesOutOf' | message: {'items': pagination.showingItems, 'total': pagination.totalItems} }}
	</div>
	<div class="pagination-info" ng-if="!pagination.totalItems">
		{{'msg.showingNoMatches' | message}}
	</div>
	<ul ng-if="pagination.totalItems">
		<li ng-class="{disabled : pagination.isFirstPage()}">
			<a ng-click="pagination.isFirstPage() || pagination.previousPage()">
				{{'label.previousPage' | message}}
			</a>
		</li>
		<li ng-class="{active: pagination.isCurrentPage($index), invalid: pagination.isPageValid && !pagination.isPageValid($index)}"
			ng-repeat="i in pagination.getPages() track by $index">
			<a ng-click="pagination.changePage($index)">
				{{$index + 1}}
			</a>
		</li>
		<li class="active" ng-if="pagination.page > pagination.getTotalPages()">
			<a> {{pagination.page}} </a>
		</li>
		<li ng-class="{disabled : pagination.isLastPage()}">
			<a ng-click="pagination.isLastPage() || pagination.nextPage()">
				{{'label.nextPage' | message}}
			</a>
		</li>
	</ul>
</div>
