/*
Pagination

The pagination component can be added to any list or table that has paginatied
content. We recommend using a paginated list for any list longer than 20 items.

See the documentation for the [openlmis-pagination directive](../docs/index.html#/api/openlmis-pagination.directive:openlmisPagination)
for information about how to use the component.

Example:

<openlmis-pagination
    ng-model="vm.stateParams.page"
    total-items="100"
    items="5"
    page-size="10">
</openlmis-pagination>

Styleguide 2.2
*/

.openlmis-pagination {

    display: flex;
    justify-content: space-between;
    font-size: 1em;
    align-items: center;
    
    > * {
        flex: 0 0 auto;
        &:first-child {
            flex-grow: 1;
        }
    }

    margin-bottom: $space-size;
    > ul {
        @extend .pagination;
        margin: 0px;
        border-color: $border-color;

        > li > a {
            @extend .openlmis-pagination-link;
        }
        > li:last-child > a {
            border-right-width: 1px;
        }

        .active a {
            @extend button.primary;
            @extend .openlmis-pagination-link;
        }

        .invalid a {
            @extend button.danger;
            @extend .openlmis-pagination-link;
        }

        .active.invalid a {
            background: $brand-danger;
        }

        li:last-child a::after {
            content: " >>";
        }

        li:first-child a::before {
            content: "<< ";
        }
    }
}

.openlmis-pagination-link{
    padding: 0.5em 1em;
    border-radius: 0px;
    border: $border-color 1px solid;
    border-right-width: 0px;
    &:hover{
        border-color: $border-color;
    } 
}
