@import 'bourbon';

body {
  background: $dark-gray;
}

.login-page {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  margin-left: -330px;
  margin-top: -220px;
  box-shadow: 0 0 15px $dark-gray;
  border: 1px solid white;
  border-radius: 6px;
}

.login-container {
  background: $white; /* Old browsers */
  background: -moz-linear-gradient(top, $white 0%, $white 48%, $light-gray 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, $white 0%,  48%, $light-gray 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top, $white 0%, $white 48%, $light-gray 100%); /* IE10+ */
  background: linear-gradient(to bottom, $white 0%, $white 48%, $light-gray 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '$white', endColorstr = '$light-gray', GradientType = 0); /* IE6-9 */
  border-radius: 4px;
  h1 {
    font-size: 1.3em;
    color: $gray;
    margin: 0;
    line-height: 24px;
//    padding: 14px;
    text-shadow: 0 1px 0 $white;
    font-weight: normal;
    border-color: transparent;
    font-family: 'HelveticaNeue-CondensedBold', Arial, sans-serif;
  }
  h2 {
    font-size: 1.4em;
    color: $dark-gray;
    margin: 0;
    padding: 15px 0;
    line-height: 30px;
    border-color: transparent;
  }
  .alert-error {
    font-size: 0.9em;
    line-height: 17px;
    border-color: $red;
  }
  form {
    margin: 0;
  }
  input:focus:required:invalid:focus {
    border-color: $heading-green;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 136, 143, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 136, 143, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 136, 143, 0.6);
  }
  input {
    &[type='text'], &[type='password'] {
      width: 95%;
      margin-bottom: 20px;
    }
    &.btn {
      font-size: 1.15em;
      margin-bottom: 12px;
      &.btn-primary {
        float: right;
        margin-right: 18px;
        }
    }
  }
  a {
    font-size: 1em;
    text-decoration: underline;
  }
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: $heading-green;
  outline: 0;
  outline: thin dotted  \9;
/* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 136, 143, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 136, 143, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(23, 136, 143, 0.6);
}

.login-form {
  background: url(../images/login-bg.png) no-repeat 20px top;
  padding: 0 55px 0 330px;
  min-height: 310px;
}

.forgot-password-form {
  padding: 2px 20px 25px;
  min-height: 140px;
  input[type='text'],
  input[type='password'] {
    margin-bottom: 15px;
  }
  .login-form-row {
    width: 55%;
  }
  input.btn {
    margin: 8px 10px 0 0;
    padding: 9px 40px;
  }
}

.forgot-link {
  padding: 15px 0 20px;
}

.form-desc {
  padding-bottom: 15px;
}

.or-row {
  padding: 0 0 12px 3px;
}

.powered-by {
  text-align: right;
  padding: 0px 10px;
  font-size: 0.7em;
  color: $gray;
}

.modal-login {
  width: 692px;
  margin-left: -346px;
  z-index: 1051; // The angular modal has z-index as 1050
}

input[placeholder].placeholder {
  color: $medium-gray;
}

.modal-login-header {
  border-bottom: 1px solid $medium-gray;
  border-radius: 3px 3px 0 0;
  @include linear-gradient(to bottom, $white 30%, $light-gray 100%);
  @include clearfix();
  padding: 0.5em 1em;
  display: flex;
  align-items: baseline;
  > *{
    flex: 1 0 auto;
  }
  > .locale-container{
    flex: 0 0 auto;
  }
}

.locale-container {
  @extend .list-unstyled;
  font-size: $font-size-small;
  li {
    display: block;
    float: left;
    a {
      color: $brand-primary;
    }
    .selected {
      color: $text-color;
      text-decoration: none;
    }
    &::after{
      content: "|";
      padding-right: 0.5em;
    }
    &:last-child::after{
      content: "";
      padding: 0px;
    }
  }
}
