.select-search-option {

    .list-label {
        display: flex;
        justify-content: space-between;
    }

    .option-button {
        @extend .btn;
        @extend .btn-default;
        display: flex;
        align-content: flex-start;
        width: 100%;
        margin-top: 1em;
    }

    input {
        width: 100%;
        margin-bottom: 1em;
    }

    .option-list {
        max-height: 40em;
        overflow-y: auto;
    }
}
