<form class="select-search-option">
    <label for="search">{{'label.search' | message}}</label>
    <input id="search" type="text" ng-model="searchText" ng-change="findSelectedOption(options, selected)"/>
    <fieldset class="form-group">
        <legend>{{'msg.selectAnOption' | message}}</legend>
        <p>{{'msg.showingNumOfResults' | message: {'num': results.length, 'total': options.length} }}</p>
        <label class="radio" ng-repeat="option in options | filter: {label: searchText} as results">
            <input type="radio" ng-click="select(option)" name="selected" ng-model="selected" ng-value="option" />
            {{option.label}}
        </label>
    </fieldset>
</form>
