.select-search-option {

    .list-label {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
    }

    .option-list {
        display: flex;
        flex-direction: column;
        max-height: 40em;
        overflow-y: auto;
        font-size: 1.3em;

        input {
            margin-bottom: 1em;
            margin-right: 1em;
        }
    }
}
