td.has-single-input-control{
    > label {
        display: none;
    }
}

.openlmis-table > tbody > tr > td.has-single-input-control.is-invalid,
td.has-single-input-control.is-invalid {
    padding-right: $table-cell-padding;
    &::before{
        content: "";   
    }
    
    > [input-control] {
        @extend .is-invalid;
    }
}