.requisition-summary dl > dt{
    &::after{
        content: ":";
    }
}

aside.requisition-summary {
    @include clearfix();
    display: flex;
    flex-direction: row;
    align-items: center;
    > * {
        display: block;
        flex: 1 0 auto;
    }
    > button{
        flex-grow: 0;
    }
    > dl{
        justify-content: flex-end;
        margin-right: $space-size;
        > dt {
            width: auto;
            position: relative;
            top: 0;
            margin-right: 0.5em;
        }
        > dd{
            flex-grow: 0;
        }
    }

    > button {
        @extend button.primary;
        @include button-icon-only("list");        
    }
}

.popover.requisition-summary{
    width: auto;
    max-width: none;
    dl {
        display: flex;
        flex-wrap: wrap;
    }
    dl > dt {
        white-space: normal;
        flex: 1 0 auto;
    }
    dl > dd {
        flex: 0 0 auto;
        white-space: nowrap;
        text-align: right;
    }
}
