<div class="program-template-list">
    <div class="page">
        <h2>{{'configure.rnr.header' | message}}</h2>
        <table ng-if="vm.programs.length">
    		<thead>
    		<tr>
    			<th>{{'program.header' | message}}</th>
    			<th></th>
    		</tr>
    		</thead>
    		<tbody>
    		<tr ng-repeat="program in vm.programs">
    			<td>{{program.name}}</td>
    			<td>
    				<div ng-if="program.template">
                        <i class="fa fa-check"></i>
                        <div>{{'template.configured' | message}}</div>
                        <div ng-if="vm.canConfigureTemplates()">
                            <span>(</span>
                                <a ng-click="vm.goToTemplate(program.template.id)">{{'link.edit' | message}}</a>
                            <span>)</span>
                        </div>
                	</div>
                    <div ng-if="!program.template">
                        <div>{{'template.create' | message}}</div>
    				</div>
    			</td>
    		</tr>
    		</tbody>
        </table>
    </div>
</div>
