/* Do NOT place application styling in this file.
   This should be only used for UI Styleguide */

body {
  background-color: $white;
  font-family: Arial, sans-serif;
}

.content h2 {
  color: $heading-green;
}