.convert-to-order-modal {

	form {
		overflow: hidden;

		.form-group {
		    margin: 0 1em 0 1em;
		    input.filter {
		        width: 100%;
		    }
		}

		.form-group.depots {
		    label.radio {
		        margin-left: 1em;
		        font-weight: normal;
		    }
		}

		button {
			@extend .btn;
		}

		button.convert-rnr {
			@include button($green);
			float: right;
		}
	}

}
