<form name="convertForm" ng-submit="vm.convertRnr()">
    <div class="form-group">
        <label for="searchWarehouses">{{'label.filter.warehouses' | message}}</label>
        <input id="searchWarehouses" type="text" ng-model="vm.searchText"/>
    </div>
    <fieldset class="form-group depots">
        <legend>{{'requisition.convertToOrder.pickDepot' | message}}</legend>
        <label ng-repeat="depot in vm.requisitionWithDepots.supplyingDepots |
               filter:searchText"
               class="radio" >
            <input type="radio" name="radioBtn" ng-value="depot.id" ng-model="vm.requisitionWithDepots.requisition.supplyingFacility" required/>
            {{depot.name}}
        </label>
        <div class="alert is-error" ng-if="convertForm.$invalid && convertForm.$submitted">
            {{ 'msg.noSupplyingDepotSelected' | message }}
        </div>
    </fieldset>
    <button class="convert-rnr" type="submit">{{'button.convert.to.order' | message}}</button>
</form>
