<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~  
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
  -->
<aside class="requisition-info">
    <div class="requisition-type" ng-class="{'emergency': vm.requisition.emergency, 'regular': !vm.requisition.emergency}">
        <span>{{vm.requisitionType | message}}</span>
    </div>

    <dl class="requisition-head-block">
        <dt>{{'label.facility'|message}}</dt>
        <dd>{{vm.requisition.facility.code}} - {{vm.requisition.facility.name}}</dd>
        <dt>{{'label.facility.operatedBy' | message}}</dt>
        <dd>{{vm.requisition.facility.operator.name}}</dd>
        <dt>{{'label.region' | message}}</dt>
        <dd>{{vm.requisition.facility.geographicZone.name}}</dd>
        <dt ng-if="requisition.facility.geographicZone.parent.name">{{'label.province' | message}}</dt>
        <dd ng-if="requisition.facility.geographicZone.parent.name">{{vm.requisition.facility.geographicZone.parent.name}}</dd>
        <dt>{{'label.reportingPeriod' | message}}</dt>
        <dd>{{vm.requisition.processingPeriod | period}}</dd>
    </dl>
</aside>
