<aside class="requisition-info">
    <div class="requisition-type" ng-class="{'emergency': vm.requisition.emergency, 'regular': !vm.requisition.emergency}">
        <span>{{vm.requisitionType | message}}</span>
    </div>

    <dl>
        <div>
            <dt>{{'label.facility'|message}}</dt>
            <dd>{{vm.requisition.facility.code}} - {{vm.requisition.facility.name}}</dd>
        </div>
        <div>
            <dt>{{'label.facility.operatedBy' | message}}</dt>
            <dd>{{vm.requisition.facility.operator.name}}</dd>
        </div>
        <div>
            <dt>{{'label.region' | message}}</dt>
            <dd>{{vm.requisition.facility.geographicZone.name}}</dd>
        </div>
        <div>
            <dt ng-if="requisition.facility.geographicZone.parent.name">{{'label.province' | message}}</dt>
            <dd ng-if="requisition.facility.geographicZone.parent.name">{{vm.requisition.facility.geographicZone.parent.name}}</dd>
        </div>
        <div>
            <dt>{{'label.reportingPeriod' | message}}</dt>
            <dd>{{vm.requisition.processingPeriod | period}}</dd>
        </div>
    </dl>
</aside>
