.requisition-type {
    padding: 1em;
    font-weight: bold;

    display: flex;
    align-items: center;

    &.regular {
        background-color: $light-gray;
    }

    &.emergency {
        background-color: $brand-danger;
        color: $white;
    }
}
