<aside class="requisition-info">
    <div class="requisition-type" ng-class="{'emergency': vm.requisition.emergency, 'regular': !vm.requisition.emergency}">
        <span>{{vm.requisitionType | message}}</span>
    </div>

    <div class="requisition-details">
        <div>
            <strong>{{'label.facility'|message}}</strong>
            <div>{{vm.requisition.facility.code}} - {{vm.requisition.facility.name}}</div>
        </div>
        <div>
            <strong>{{'label.facility.operatedBy' | message}}</strong>
            <div>{{vm.requisition.facility.operator.name}}</div>
        </div>
        <div>
            <strong>{{'label.region' | message}}</strong>
            <div>{{vm.requisition.facility.geographicZone.name}}</div>
        </div>
        <div>
            <strong ng-if="requisition.facility.geographicZone.parent.name">{{'label.province' | message}}</strong>
            <div ng-if="requisition.facility.geographicZone.parent.name">{{vm.requisition.facility.geographicZone.parent.name}}</div>
        </div>
        <div>
            <strong>{{'label.reportingPeriod' | message}}</strong>
            <div>{{vm.requisition.processingPeriod | period}}</div>
        </div>
    </dl>
</aside>
