aside.requisition-info{
	padding: $padding2px;
	
  display: flex;
  > * {
    flex: 0 0 auto;
  }

  dl {
    flex-grow: 1;
    padding-top: 2.4em;
    padding-bottom: 0;
    margin-left: 1.2em;
  }

}

.requisition-type{
    &.regular {
		@include right-arrow($light-gray);
	}

	&.regular:after,
	&.regular:before {
		@include right-arrow-after-before();
	}

	&.regular:after {
		@include right-arrow-after($light-gray);
	}

	&.emergency {
		@include right-arrow($red);
		color: $white;
	}

	&.emergency:after,
	&.emergency:before {
		@include right-arrow-after-before();
	}
}