
.nav > li.is-invalid > a {
	@include icon('exclamation-circle');
	padding-right: 2em;
	&:before{
		color: $brand-danger;
		position: absolute;
		right: 0.5em;
	}
}

.nav > li.is-invalid.active > a {
	background-color: $brand-danger;
	color: $white;
	&:before{
		color: $white;
	}
}
