
.dropdown-link {

    display: block;
    text-decoration: none;
    padding: 0.5em 1em;
    color: $link-color;
    &:hover,
    &:focus{
      text-decoration: none;
      color: $link-color-hover;
    }
    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus{
      color: $text-color-disabled;
    }
}

.dropdown-button {
    > button {
        @include icon('caret-down');
    }

    > ul {
        @include margin-right(1em);
        /* Arrow up */
        &::before {
            content: "";
            position:absolute;
            top: -0.4em;
            @include left(2.2em);
            width: 0em;
            height: 0em;
            border-left: 0.4em solid transparent;
            border-right: 0.4em solid transparent;
            border-bottom: 0.45em solid $white;
        }

        li a {
            @extend .dropdown-link;
        }
    }

    .selected {
        background-color: $background-color-alt;
        color: $text-color;
        &:hover {
            background-color: $background-color-alt;
        }
    }
}
