
@mixin icon($icon) {
    @extend .fa-#{$icon};
    font-family: $font-family;
    &::before {
        font-family: FontAwesome;
        display: inline-block;
    }
}

@mixin icon-only($icon) {
    @include icon($icon);
    overflow: hidden;
    display: inline-block;
    position: relative;
    font-size: 1em;
    width: 1.2em;
    height: 1.2em;
    text-indent: -20000em;
    &::before {
        position: absolute;
        top: 50%;
        @include left(50%);
        text-indent: 0em;
        @include translate-xy(-50%, -50%);
    }
}

@mixin button-icon-only($icon) {
    @include icon-only($icon);
    width: 2em;
    height: 2em;
    line-height: 2em;
    &::before {
        line-height: 2em;
    }
}

@mixin button-icon($icon) {
    @include icon($icon);
    &::before {
        @include margin-right(.5em);
    }
}
