@mixin button($color){
    display: block;
    padding: $space-size/2 $space-size;

    border-radius: $border-radius;
    border-top: $color 1px solid;
    border-right: $color 1px solid;
    border-left: $color 1px solid;
    border-bottom: $color 1px solid;

    $button-text-color: $white;
    $button-text-shadow-color: $text-color;
    @if (lightness($color) > 70) {
        $button-text-color: $text-color;
        $button-text-shadow-color: $white;
    }

    color: $button-text-color;
    text-shadow: 0px 0px 0.1em $button-text-shadow-color; 
    
    background: $color;
    background-image: linear-gradient(to bottom,  lighten($color, 10%), lighten($color, 5%) 10%, $color);

    &:hover,
    &:active,
    &.active,
    &.disabled,
    &[disabled] {
        color: $button-text-color;
        background: $color;
        border-color: $color;
    }
}
