
html {
  height: 100%;
}

body{
	display: flex;
	flex-direction: column;
	> *{
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		> *{
			flex: 1 0 auto;
		}
	}
	> header,
	> footer {
		flex: 0 0 auto;
	}
    > script {
        display: none;
    }
}

.page {
    flex-grow: 0;
    margin: 1em;
    box-shadow: 0 0 0.5em $shadow;
    border: 0px;
    background: $white;
    padding: 1em 2em;

    > * {
    	margin: 0em;
        margin-bottom: 1em;
    }

    > header,
    > h1, > h2 {
        @extend .heading;
        background-color: transparent;
    }

    > section {
        > header,
        > h3 {
           @extend .sub-heading;
        }
    }

    > nav > ul {
        @extend .nav;
        @extend .nav-tabs;

        > li > a {
            background-color: $background-color-alt;
            &:hover{
                text-decoration: underline;
            }
        }

        > li > a.active {
            background-color: $background-color;
            &:hover {
                text-decoration: none;
            }
        }
    }
}