/*
Loading

Since the OpenLMIS-UI is a single page application, we are often loading data
and other page components. See the loading modal documentation for more details.

markup:
<div class="loading"></div>
<button class="primary is-loading">Some Button</button>

Styleguide 1.4
*/

.loading {
    @extend .fa !optional;
    @extend .fa-spin !optional;
    @extend .fa-3x !optional;
    @extend .fa-fw !optional;
    &::before {
        content: '\f1ce';
        font-size: 1em;
    }
}

.is-loading::after {
    @extend .loading;
    //@extend .loading::before;
}
