//Colors
$green: #356b6f !default;
$red: #a94442 !default;
$orange: #e67325 !default;
$yellow: #e6ba13 !default;
$blue: #3A95BC !default;
$brand-blue: #49baeb !default;
$purple: #8366a5 !default;

$white: #ffffff !default;
$light-gray: #e4e4e4 !default;
$gray: #58585a !default;
$dark-gray: #333333 !default;
$black: #000000 !default;
$shadow: rgba($black, 0.75) !default;
$light-shadow: rgba($black, 0.075) !default;

$font-family: Arial, sans-serif;

$font-size: 14px !default;
$font-size-large: 22px !default;
$font-size-extra-large: 36px !default;

$default-form-width: 440px !default;

$brand-primary: $brand-blue !default;
$brand-accent: $orange !default;

$brand-danger: $red !default;
$background-color-danger: #f1eaeb !default;

$brand-success: $green !default;
$background-color-success: #caebec !default;

$brand-offline: $purple !default;
$background-color-offline: #e1d9e9 !default;

$background-color: $white !default;
$background-color-alt: #f0f0f0 !default;
$background-color-dark: lighten($dark-gray,10) !default;

$text-color: $dark-gray !default;
$text-color-disabled: lighten($dark-gray, 15) !default;

$link-color: $blue !default;
$link-color-hover: darken($link-color, 15) !default;

$focus-color: $blue !default;
$background-color-focus: #DAF3FF !default;

$border-color: darken($light-gray, 15) !default;
$input-border: $border-color !default;

$border-radius: 4px !default;
$border-width: 1px;

// Resets all bootstrap rounded corners to same size
$border-radius-base: $border-radius;
$border-radius-large: $border-radius;
$border-radius-small: $border-radius;

// Spacing
$padding-small: 0.5em;
$padding: (2 * $padding-small);
$padding-large: (2 * $padding);

$margin: 1em;

$padding2px:2px;
$space-size: 16px !default;
$opacity: 0.6 !default;

$res-xs: 320px;
$res-sm: 576px;
$res-md: 768px;
$res-lg: 992px;
$res-xl: 1200px;
$res-xxl: 1400px;

$sidebar-width: 16em !default;
$popover-width: 20em;
