//Colors
$green: #356b6f;
$red: #a94442;
$orange: #e67325;
$blue: #3A95BC;
$brand-blue: #49baeb;

$white: #ffffff;
$light-gray: #e4e4e4;
$gray: #58585a;
$dark-gray: #333333;
$black: #000000;
$shadow: rgba($black, 0.75);
$light-shadow: rgba($black, 0.075);

$font-family: Arial, sans-serif;

$font-size: 14px;
$font-size-large: 22px;
$font-size-extra-large: 36px;

$brand-primary: $brand-blue;
$brand-accent: $orange;
$brand-danger: $red;
$brand-success: $green;
$brand-info: $blue;

$background-color: $white;
$background-color-alt: #f0f0f0;
$background-color-dark: $dark-gray;
$background-color-danger: #f1eaeb;
$background-color-success: #caebec;

$text-color: $dark-gray;
$text-color-disabled: lighten($dark-gray, 15);

$link-color: $blue;
$link-color-hover: darken($link-color, 15);

$border-color: darken($light-gray, 15);
$input-border: $border-color;

$text-shadow-size: 5px;

$border-radius: 4px;
$border-radius-base: $border-radius;
$border-radius-large: $border-radius;
$border-radius-small: $border-radius;

// Spacing
$padding2px:2px;
$space-size: 20px;
$opacity: 0.6;

$sidebar-width: 220px;
