/*
Table Containers

To create complex tables that are horizontally scrollable and search
functionality, wrap the table within a table container, which will constrain
the layout of form elements and captions within a table. **Any table wider than
the display area will horizontally scroll.**

All `.table-container` children that are not the table will be displayed to the
left of the actual container. There will be no effort made to guess the size of
the elements within the `.table-container`. *The exception to this is the
[table-sort-order form.](../../docs/#/api/openlmis.table:table-sort-order)*

All elements within a `.table-container` will be pinned, so they are all visible
and aligned while a user is scrolling what could be a large table.

### Form Guidelines
Any form that modifies a table should use the `aria-described-by` attribute. This
will ensure that accessiable technologies will be able to detect the relationship
between a table and the forms that modify that table.

Forms  will enable or disable the primary form button if the form doesn't match
the current state of the table. *This feature still needs to be implemented.*

A table could have two form elements, a form displaying the current sort order
of the items and a form that modifies the rows displayed within the form. Tables
with container don't have to implement two forms, but *an element that describes
the current table sort order is recommended.*

markup:
<h2>Example Items</h2>
<section class="table-container">
  <form id="example-search-form">
    <fieldset>
      <legend>Show categories</legend>
      <label class="checkbox">
        <input type="checkbox" checked="checked" />
        Anti-malarials
      </label>
      <label class="checkbox">
        <input type="checkbox" />
        Anti-patterns
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="checked" />
        Anti-pyretics
      </label>
    </fieldset>
    <input class="btn btn-primary" type="submit" value="Search" />
  </form>
  <form table-sort-order id="example-sort-form" class="form-inline">
    <label for="table-sort-order">Sort items by</label>
    <select id="table-sort-order">
      <option selected="selected">Name</option>
    </select>
    <input type="submit" class="btn btn-primary" value="Sort items" />
  </form>
  <table aria-describedby="example-search-form example-sort-form" >
    <thead>
      <tr>
        <th>Fully Supply</th>
        <th>Code</th>
        <th>Name</th>
        <th>Strength</th>
        <th>Unit of measure</th>
      </tr>
    </thead>
    <tbody title="Anti-malarials">
      <tr>
        <td>
          <i class="icon-ok"/>
        </td>
        <td>P00833</td>
        <th>Quinine Sulphate</th>
        <td>300</td>
        <td>mg</td>
      </tr>
    </tbody>
    <tbody title="Anti-pyretics">
      <tr>
        <td class="center-justified">
          <i class="icon-ok"/>
        </td>
        <td>N-378013</td>
        <th>Tramedol</th>
        <td>50mg/ml</td>
        <td>mg</td>
      </tr>
      <tr>
        <td>
          <i class="icon-ok"/>
        </td>
        <td>A41099</td>
        <th>Doxycycline</th>
        <td>100</td>
        <td>mg</td>
      </tr>
      <tr>
        <td>
          <i class="icon-ok"/>
        </td>
        <td>KM3375-2</td>
        <th>Malaria Rapid Diagnostic Test</th>
        <td>1</td>
        <td>each</td>
      </tr>
    </tbody>
  </table>
</section>

Styleguide 4.1
*/

@import 'bourbon';

.table-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
    background-color: $background-color-alt;

    > * {
        margin: 1em;
    }

    > form {
        flex: 0 0 auto;
        order: 0;
        width: $sidebar-width;
    }

    > .flex-table {
        flex: 1 1 auto;
        overflow: auto;

        table {
            width: 100%;
        }
    }

    div table {
        max-width: 100%;
        word-wrap: break-word;
    }
}

// Sort order
.table-container > .table-sort-order {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 1em;
}
