/*
Tables

Tables in the OpenLMIS-UI should be used to represent data that needs to be
read or edited across multiple attributes per item. If there isn't a need to
look or interact with specific attributes of an item in the list, please use a
list rather than a table. *Don't use tables for styling purposes.*

A table without a container will always try to fit into the current widow, and
not horizontally scroll.

*Tables must include:*
* `thead` that defines the column titles
* `tbody` which will hold groups of items
* Have an equal number of cells in each row
* One cell in each row must be a title cell [(scope attributes are automatically added)](../../docs/#/api/openlmis.table:tableHeaderCell)

*Tables do not:*
* Include a title for the table, this should be styles as a page heading or
sub-heading
* Have an 'on click' action for the entire row, links or buttons may be placed
in specifc cells

### Groups of Table Rows
If there are clear categories or sets of rows that should be displayed as a
group, use a `<tbody>` element to group the items together.

`<tbody>` elements will have their title properties transformed into the first
row of the table, which will be treated as a title element. See the [tbody-title
directive for more details.](../../docs/#/api/openlmis.table:tbodyTitle)

markup:
<table >
  <thead>
    <tr>
      <th>Fully Supply</th>
      <th>Code</th>
      <th>Name</th>
      <th>Strength</th>
      <th>Unit of measure</th>
    </tr>
  </thead>
  <tbody title="Anti-malarials">
    <tr>
      <td>
        <i class="icon-ok"/>
      </td>
      <td>P00833</td>
      <th>Quinine Sulphate</th>
      <td>300</td>
      <td>mg</td>
    </tr>
  </tbody>
  <tbody title="Anti-pyretics">
    <tr>
      <td class="center-justified">
        <i class="icon-ok"/>
      </td>
      <td>N-378013</td>
      <th>Tramedol</th>
      <td>50mg/ml</td>
      <td>mg</td>
    </tr>
    <tr>
      <td>
        <i class="icon-ok"/>
      </td>
      <td>A41099</td>
      <th>Doxycycline</th>
      <td>100</td>
      <td>mg</td>
    </tr>
    <tr>
      <td>
        <i class="icon-ok"/>
      </td>
      <td>KM3375-2</td>
      <th>Malaria Rapid Diagnostic Test</th>
      <td>1</td>
      <td>each</td>
    </tr>
  </tbody>
</table>

Styleguide 4.0
*/

@import 'bourbon';

table{
    @extend .table;
    border-collapse: separate;

    td, th{
        padding: 1em;
        vertical-align: middle !important; // from requisition template screen
        border: 1px $gray solid;
    }

    td {
        background-color: white;
    }

    th {
        @include linear-gradient(to top, $light-gray, lighten($light-gray, 15%), $fallback: $light-gray);
        white-space: nowrap;
    }

    thead{
        background-color: $light-gray;
        tr:first-child{
            @include linear-gradient(to top, $light-gray, lighten($light-gray, 15%), $fallback: $light-gray);
        }
    }
}

tbody tr.title:first-child{
    background-color: $brand-primary;
    color: $white;
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 1);
    td {
        padding: 1em 2em;
    }
}

table {

    tbody {

        tr.invalid-row {
            background-color: lighten($red, 45%);
            border-color: darken($red, 20%);

            .cell-error-message {
                color: $red;
            }

        }
    }

    .pinned {
        position: relative !important;
    }
}
