/*
Tables

Tables in the OpenLMIS-UI should be used to represent data that needs to be
read or edited across multiple attributes per item. If there isn't a need to
look or interact with specific attributes of an item in the list, please use a
list rather than a table. *Don't use tables for styling purposes.*

A table without a container will always try to fit into the current widow, and
not horizontally scroll.

*Tables must include:*
* `thead` that defines the column titles
* `tbody` which will hold groups of items
* Have an equal number of cells in each row
* One cell in each row must be a title cell [(scope attributes are automatically added)](../../docs/#/api/openlmis.table:tableHeaderCell)

*Tables do not:*
* Include a title for the table, this should be styles as a page heading or
sub-heading
* Have an 'on click' action for the entire row, links or buttons may be placed
in specifc cells

<table class="openlmis-table">
  <thead>
    <tr>
      <th>Fully Supply</th>
      <th>Code</th>
      <th>Name</th>
      <th>Strength</th>
      <th>Unit of measure</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="center-justified">
        <i class="icon-ok"/>
      </td>
      <td>N-378013</td>
      <td>Tramedol</td>
      <td>50mg/ml</td>
      <td>mg</td>
      <td>
        <button>Action</button>
      </td>
    </tr>
    <tr>
      <td>
        <i class="icon-ok"/>
      </td>
      <td>A41099</td>
      <td>Doxycycline</td>
      <td>100</td>
      <td>mg</td>
      <td>
        <button>Action</button>
        <button>Other Action</button>
      </td>
    </tr>
    <tr>
      <td>
        <i class="icon-ok"/>
      </td>
      <td>KM3375-2</td>
      <td>Malaria Rapid Diagnostic Test</td>
      <td>1</td>
      <td>each</td>
      <td>
        <button>Action</button>
        <button>Other Action</button>
      </td>
    </tr>
    <tr class="is-invalid">
      <td>
        
      </td>
      <td>ERROR</td>
      <td>Example Invalid Row</td>
      <td>0</td>
      <td>lots</td>
      <td>
        <button class="danger">Danger</button>
      </td>
    </tr>
    <tr class="is-disabled">
      <td>
        <i class="icon-ok"/>
      </td>
      <td>DISABLED</td>
      <td>Example Disabled Row</td>
      <td>1</td>
      <td>each</td>
      <td>
        <button disabled>Disabled</button>
      </td>
    </tr>
    <tr class="is-disabled">
      <td>
        <i class="icon-ok"/>
      </td>
      <td>DISABLED</td>
      <td>Other Disabled Row</td>
      <td>1</td>
      <td>each</td>
      <td>
        <button disabled>Disabled</button>
      </td>
    </tr>
  </tbody>
</table>

Styleguide 4.0
*/

$border-color-table: $border-color !default;
$table-border: 1px $border-color-table solid !important; // this important is needed to override borders from inherited

.openlmis-table {
    @extend .table;
    width: auto;
    border-collapse: separate;
    margin-bottom: 0px;

    th:first-child, td:first-child {
        border-left: $table-border;
    }

    td, th {
      padding: 0.5em;
      position: relative;
      white-space: nowrap;
      vertical-align: middle !important; // from requisition template screen
      border-top: none !important;
      border-left: none !important;
      border-bottom: $table-border;
      border-right: $table-border;
    }

    thead {
        th {
            color: $white;
            background: $dark-gray;
            background-image: linear-gradient(to top, $dark-gray, lighten($dark-gray, 15%));
            a {
              color: $white;
            }

            > .show-popover {
              margin-left: 0.5em;
              height: 1em;
              width: 1em;
            }
        }
    }
}

.openlmis-table tr {
  > td {
    background-color: $background-color;
  }

  &:nth-child(2n+1) > td {
    background-color: $background-color-alt;
  }

  &.invalid-row > td,
  &.is-invalid > td{
    background-color: $background-color-danger;
  }

  &.is-disabled td {
    color: $gray;
  }
}


.openlmis-table td {
  > button,
  > button.primary {
    display: inline-block;
    float: none;
    margin: 0px;
    border-radius: 0px;
    &:first-child{
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
    &:last-child{
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}


