/*
Tables

Tables in the OpenLMIS-UI should be used to represent data that needs to be
read or edited across multiple attributes per item. If there isn't a need to
look or interact with specific attributes of an item in the list, please use a
list rather than a table. *Don't use tables for styling purposes.*

A table without a container will always try to fit into the current widow, and
not horizontally scroll.

*Tables must include:*
* `thead` that defines the column titles
* `tbody` which will hold groups of items
* Have an equal number of cells in each row
* One cell in each row must be a title cell [(scope attributes are automatically added)](../../docs/#/api/openlmis.table:tableHeaderCell)

*Tables do not:*
* Include a title for the table, this should be styles as a page heading or
sub-heading
* Have an 'on click' action for the entire row, links or buttons may be placed
in specifc cells

### Groups of Table Rows
If there are clear categories or sets of rows that should be displayed as a
group, use a `<tbody>` element to group the items together.

`<tbody>` elements will have their title properties transformed into the first
row of the table, which will be treated as a title element. See the [tbody-title
directive for more details.](../../docs/#/api/openlmis.table:tbodyTitle)

markup:
<table class="openlmis-table">
  <thead>
    <tr>
      <th>Fully Supply</th>
      <th>Code</th>
      <th>Name</th>
      <th>Strength</th>
      <th>Unit of measure</th>
      <th></th>
    </tr>
  </thead>
  <tbody title="Anti-malarials">
    <tr>
      <td>
        <i class="icon-ok"/>
      </td>
      <td>P00833</td>
      <td>Quinine Sulphate</td>
      <td>300</td>
      <td>mg</td>
      <td>
        <button>Action</button>
      </td>
    </tr>
  </tbody>
  <tbody title="Anti-pyretics">
    <tr>
      <td class="center-justified">
        <i class="icon-ok"/>
      </td>
      <td>N-378013</td>
      <td>Tramedol</td>
      <td>50mg/ml</td>
      <td>mg</td>
      <td>
        <button>Action</button>
      </td>
    </tr>
    <tr>
      <td>
        <i class="icon-ok"/>
      </td>
      <td>A41099</td>
      <td>Doxycycline</td>
      <td>100</td>
      <td>mg</td>
      <td>
        <button>Action</button>
        <button>Other Action</button>
      </td>
    </tr>
    <tr>
      <td>
        <i class="icon-ok"/>
      </td>
      <td>KM3375-2</td>
      <td>Malaria Rapid Diagnostic Test</td>
      <td>1</td>
      <td>each</td>
      <td>
        <button>Action</button>
        <button>Other Action</button>
      </td>
    </tr>
  </tbody>
</table>

Styleguide 4.0
*/

$table-border-color: $gray !default;

table.openlmis-table {
    border-collapse: separate;
}

.openlmis-table {
    @extend .table;

    table {
        border-collapse: separate;
    }

    th:first-child, td:first-child {
        border-left: $table-border;
    }

    td, th {
      @extend .clearfix;
      padding: 0.5em;
      white-space: nowrap;
      vertical-align: middle !important; // from requisition template screen
      border-top: none !important;
      border-bottom: $table-border;
      border-right: $table-border;
    }

    td {
        background-color: $white;
    }

    th {
        border-top: $table-border;
        background: $light-gray;
        background-image: linear-gradient(to top, $light-gray, lighten($light-gray, 15%));
    }

    thead{
        background-color: $light-gray;
        tr:first-child{
            background: $light-gray;
            background-image: linear-gradient(to top, $light-gray, lighten($light-gray, 15%));
        }
    }

    tbody > tr.title:first-child > td{
        margin: 0px;
        padding: 0px;
        background-color: $brand-primary;
        color: $white;
        font-weight: bold;
        text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 1);
        > div{
          position: relative;
          padding: 1em 2em;
        }
    }

    tbody {

        tr.invalid-row td {
            background-color: lighten($red, 45%);
            border-color: darken($red, 20%);
        }
    }
}

td {
  > button,
  > button.primary {
    display: inline-block;
    float: none;
    margin: 0px;
    border-radius: 0px;
    &:first-child{
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
    &:last-child{
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}
