/*
Table Forms

When tables contain form control elements - such as inputs, selects, or checkboxes -
they should adhere to the following conventions.

* Form control elements that are the only item should be flush with the table cell
* Labels for single elements should be hidden (but still entered for accessibility)
* Any table cells with more than one form control element should use a fieldset

Ideally a table element would be surrounded by a form as the example shows, but
that is not nessicarry.

<h3>Example Table Form</h3>
<form>
  <table class="openlmis-table">
    <thead>
      <tr>
        <th>Skip</th>
        <th>Code</th>
        <th>Name</th>
        <th>Strength</th>
        <th>Unit of measure</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-class="{'is-disabled': tableFormSkip}">
        <td>
          <label class="checkbox">
            <input type="checkbox" ng-model="tableFormSkip" />
            Skip item
          </label>
        </td>
        <td>
          <label for="inputCode">Item Code</label>
          <input id="inputCode" type="text" value="sampleValue" required ng-disabled="tableFormSkip" />
        </td>
        <td>
          <label for="inputName">Item Name</label>
          <input id="inputName" type="text" ng-disabled="tableFormSkip" />
        </td>
        <td>
          <label for="inputStrength">Item Strength</label>
          <input id="inputStrength" type="number" required ng-disabled="tableFormSkip" />
        </td>
        <td>
          <label for="inputUnit">Item unit of measure</label>
          <select id="inputUnit" required ng-disabled="tableFormSkip" >
            <option value="kg">Kilograms</option>
            <option value="g">Grams</option>
            <option value="mg">Milligrams</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <input type="submit" value="Save" />
</form>

Styleguide 4.5
*/

td.form-control {
  display: table-cell;
  width: auto;
  border-radius: 0px;
  > label{
    display: block;
    height:0px;
    width: 0px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    margin:0px;
    padding: 0px;
  }
  > input[type="text"],
  > input[type="password"],
  > input[type="number"],
  > select {
    border-radius: 0px;
    border-width: 0px;
    box-shadow: inset 0 0 0em $light-gray;
    &:focus,
    &:disabled {
      box-shadow: inset 0 0 0em $light-gray;
    }
  }
}

tr:nth-child(2n+1) td.form-control{
  > input[type="text"],
  > input[type="password"],
  > input[type="number"],
  > select {
    background-color: $background-color-alt;
  }
}

td,
th,
td.form-control {
  > input[type="checkbox"]:first-child + > label:last-child,
  > input[type="checkbox"]:last-child + > label:first-child{
    position: absolute;
    top: -100em;    
  }
  > label:last-child + > input[type="checkbox"]:first-child,
  > label:first-child + > input[type="checkbox"]:last-child,
  > input[type="checkbox"]:first-child:last-child{
    display: block;
    margin: 0px auto;
  }
}

td > label.checkbox {
  &:first-child:last-child{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: -30000em;
    > input[type="checkbox"]{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      margin: 0px;
    }
  }
}
