
.rnr-adjustment {
  padding: 0 6px;
  display: block;
  font-size: 1.0em;
  line-height: 28px;
  text-align: right;
  background: url(../images/edit-icon.png) no-repeat 8px center;
  .adjustment-value {
    font-weight: bold;
  }
}

.adjustment-total {
  padding: 10px 52px 10px 10px;
  margin: 10px 0 0;
  border-radius: 0;
  border-color: $orange;
  font-size: 1.2em;
  font-weight: bold;
  text-align: right;
}

.adjustment-warning {
  padding: 10px 52px 10px 10px;
  margin: 10px 0 0;
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
}