<div class="table-container" ng-if="templateLoaded">
  <table id="product-grid" class="table table-bordered search-list">
    <thead>
      <tr class="gradient-header">
        <th class="col-{{column.name}}" ng-repeat="column in columns | orderBy : 'displayOrder'">{{column.label}}</th>
      </tr>
    </thead>
    <tbody ng-repeat="lineItem in (sortedLineItems = (ngModel.requisitionLineItems | orderBy: ['orderableProduct.programs[0].productCategoryDisplayName', 'orderableProduct.name']))" product-grid-row>
    </tbody>
  </table>

  <ng-include src="'/public/requisitions/product-grid/losses-and-adjustments.html'"></ng-include>
</div>