/*
Filters

The filter component can be added to the table by including "openlmis-table-filter" attribute in any
element that should be displayed as filter. Adding the attribute to a submit(or element that has a
submit element descendant) will result in overring the defauly "Update" button.

See the documentation for the [openlmis-table-filters directive](../docs/index.html#/api/openlmis-table-filter.directive:openlmisTableFilters)
for information about how to use the component.

markup:
<section class="openlmis-table-container">
    <form openlmis-table-filter>
        <fieldset class="form-group">
            <label for="firstName">First Name</label>
            <input id="firstName" type="text" name="firstName" ng-model="firstName" required/>
        </fieldset>
        <fieldset class="form-group">
            <label for="lastName">Last Name</label>
            <input id="lastName" type="text" name="lastName" ng-model="lastName" required/>
        </fieldset>
        <fieldset class="form-group">
            <label for="children">Children</label>
            <input id="children" name="children" type="number" ng-model="children" required/>
        </fieldset>
        <label for=birthdate>Birth Date</label>
        <openlmis-datepicker input-id="birthdate" value="birthdate"></openlmis-datepicker>
        <input type="submit" value="Custom submit button"/>
    </form>
    <table>
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Birth date</th>
                <th>Children</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>14-02-1995</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Anakin</td>
                <td>Skywalker</td>
                <td>25-05-1977</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Harry</td>
                <td>Potter</td>
                <td>31-07-1980</td>
                <td>2</td>
        </tbody>
    </table>
</section>


Styleguide 2.5
*/

.popover.openlmis-table-filters {
    z-index: 1070;

    .popover-content{
        padding-right: 0.5em;
    }
}

button.filters {
    @include button($button-color-default);
    @include button-icon('filter');

    > span {
        margin-left: 0.25em;
    }

    &.is-active {
        @include button($button-color-primary);
    }
}
